<template>
  <div class="page">
    <div class="page-head">
      <!-- 页头 -->
      <el-page-header @back="goBack" content="配置项目">
      </el-page-header>
      <!-- 返回上一页&预览&保存 -->
      <div class="btns">
        <el-popover
          placement="bottom"
          width="220"
          @show="showQrCode"
          trigger="click">
          <div class="popover-content">
            <div class="qr-code" style="width: 220px;height: 220px;border: 1px solid #ddd;padding: 5px;box-sizing: border-box;">
              <img :src="preCode" style="width: 100%;height: 100%;" />
            </div>
            <div class="tips" style="text-align: center;color: red;font-size: 12px;margin-top: 10px;">该二维码仅供预览，请勿投放</div>
          </div>
          <el-button size="mini" slot="reference" type="primary">预览</el-button>
        </el-popover>
        <el-button size="mini" type="primary" @click="releaseHandle">保存</el-button>
      </div>
      <el-divider></el-divider>
    </div>
    <!-- 主内容 -->
    <div class="page-content">
      <div class="page-content-left">
        <!-- 可选择基础组件 -->
        <div class="page-content-left__header">基础组件</div>
        <ul class="components-list">
          <li class="components-list-item" v-for="com in compData"
              :key="com.id"
              @click="addComponent(com.type)"
          >
            <i class="item-icon" :class="com.icon"></i>
            <span class="item-name">{{ com.name }}</span>
          </li>
        </ul>
      </div>
      <div class="page-content-right">
        <div class="phone" ref="phone">
          <draggable
            v-model="compList"
            v-loading.fullscreen.lock="loading"
            group="comp"
            :options="{animation: 300, ghostClass: 'ghost'}"
            @start="drag = true"
            @end="drag = false"
          >
            <transition-group>
              <pic-box
                v-for="(comp, index) in compList"
                :key="'comp' + index"
                :component="comp"
                :index="index"
                :formAttr="formAttr"
                :disabled="disabled"
                :tally="tally"
                :signup="signup"
                @upload="uploadPicture"
                @unUpload="unUploadPicture"
                @editDialog="editDialog"
                @replace="replacePicture"
                @hot="hotArea"
                @remove="removePic"
              >
              </pic-box>
            </transition-group>
          </draggable>
        </div>
      </div>
    </div>

    <!--  替换图片  -->
    <el-dialog :title="currType === 'image' ? '替换图片' : currType === 'video' ? '替换视频' : '替换'"
               :visible.sync="replaceVisible"
               width="600px"
               :modal-append-to-body="false"
               @close="disabled = false"
    >
      <div class="replace-dialog">
        <div class="upload" v-if="currType === 'image'">
          <div class="upload-text">
            <i class="el-icon-upload"></i>
            点击替换图片
          </div>
          <div class="preview-pic">
            <img :src="prePic" alt="">
          </div>
          <input class="upload-input" id="replacePic" ref="replacePic" title="" accept="image/*" type="file" @change="replacePicHandle($event)">
        </div>
        <div v-if="currType === 'video'" class="video-prev">
          <upload-video class="replace-video" @upload="uploadVideo"></upload-video>
          <div class="preview-pic">
            <video preload autoplay loop controls :src="prePic" class="video"></video>
          </div>
        </div>
      </div>
      <div slot="footer" class="dialog-footer" v-if="currType === 'image'">
        <el-button size="mini" @click="replaceVisible = false">取 消</el-button>
        <el-button type="primary" size="mini" @click="submitReplace">确 定</el-button>
      </div>
    </el-dialog>

    <!--  图片热区  -->
    <el-dialog title="图片热区"
               v-if="hotVisible"
               :visible.sync="hotVisible"
               width="900px"
               top="5vh"
               :modal-append-to-body="false"
               :close-on-click-modal="false"
               :close-on-press-escape="false"
               @close="disabled = false"
    >
      <hot-area
        :pic="prePic"
        :picObj="picObj"
        @submit="submitHot"
        @cancel="cancelHot"
      ></hot-area>
    </el-dialog>

    <!--  表单编辑  -->
    <el-dialog
      title="编辑表单"
      v-if="editVisible"
      :visible.sync="editVisible"
      width="1200px"
      top="4vh"
      :modal-append-to-body="false"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      @close="disabled = false"
    >
      <form-make :infoForm="formData" :type="editType" :attr="formAttr" @cancel="cancelForm" @submit="submitForm"></form-make>
    </el-dialog>
  </div>
</template>

<script>
import picBox from '../components/pic-box'
import hotArea from '../components/hot-area'
import FormMake from '../components/form-make'
import draggable from 'vuedraggable'
import { mapActions } from 'vuex'
import lrz from '../../../../../static/lrz/dist/lrz.all.bundle'
export default {
  name: 'update',
  data () {
    return {
      compData: [
        { id: 1, type: 'image', name: '图片', icon: 'el-icon-picture-outline' },
        { id: 2, type: 'video', name: '视频', icon: 'el-icon-video-camera' },
        { id: 3, type: 'form', name: '表单', icon: 'el-icon-tickets' }
      ],
      projectId: null,
      hotData: [],
      hotVisible: false,
      replaceVisible: false,
      editVisible: false,
      editType: 'add',
      formId: '',
      disabled: false,
      prePic: '',
      preCode: '',
      picObj: '',
      showList: [],
      currentId: '',
      loading: false,
      replaceIndex: '',
      hotIndex: '',
      currType: '',
      timer: null,
      currIndex: null,
      formData: [],
      formAttr: {
        backgroundColor: '#FFFFFF',
        submitMsg: '提交成功'
      },
      tally: '5',
      signup: '5',
      // 七牛云
      qn: {
        key: '',
        token: ''
      },
      qnUrl: 'http://dhszimg.fangxiaopin.cn/'
    }
  },
  components: {
    picBox,
    hotArea,
    FormMake,
    draggable
  },
  computed: {
    compList: {
      get () {
        return this.showList
      },
      set (val) {
        this.showList = val
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.projectId = this.$route.query.id
      this.queryProInfo()
      clearInterval(this.timer)
      this.timer = null
    })
  },
  methods: {
    ...mapActions('d2admin/project', [
      'infoProject',
      'uploadPic',
      'replacePic',
      'previewCode',
      'reportPro',
      'saveHot',
      'saveForm',
      'updateForm'
    ]),
    // 查询需要编辑的项目
    queryProInfo () {
      this.infoProject({
        projectId: this.projectId
      }).then(
        res => {
          if (res.code === 0) {
            res.data.forEach(list => {
              if (list.type === 'form') {
                this.formAttr = list.form.formAttr
                list.form.formItem.forEach(item => {
                  if (item.type === 'tally') {
                    this.tally = item.options.calculateType
                  }
                  if (item.type === 'signup') {
                    this.signup = item.options.showType
                  }
                })
              }
              // isAdd: 表示组件是否是新增的空白组件
              let picObj = {
                type: list.type,
                isAdd: false,
                projectId: '',
                ossId: list.ossId,
                url: list.url,
                data: list.form ? list.form.formItem : []
              }
              this.compList.push(picObj)

              this.hotData.push(list.hotData)
            })
          }
        }
      )
    },
    // 上传
    uploadPicture (rst, type, index) {
      this.addPicHandle(rst, type, index)
    },
    // 新增图片方法
    addPicHandle (rst, type, index) {
      switch (type) {
        case 'image':
          this.loading = true
          this.uploadPic({
            fileName: rst.origin.name,
            fileContent: rst.base64.split(',')[1]
          }).then(
            res => {
              if (res.code === 0) {
                this.$message.success('上传成功')
                this.loading = false
                let picObj = {
                  type: 'image',
                  isAdd: false,
                  projectId: '',
                  ossId: res.data.ossId,
                  url: res.data.url
                }
                this.compList.splice(index, 1, picObj)
              }
            }
          )
          break
        case 'video':
          this.$message.success('上传成功')
          let picObj = {
            type: 'video',
            isAdd: false,
            projectId: '',
            ossId: '',
            url: rst
          }
          this.compList.splice(index, 1, picObj)
          break
      }
    },
    // 替换图片方法
    replacePicHandle (e) {
      let size = e.target.files[0].size / 1024
      lrz(e.target.files[0], {
        width: 1280,
        quality: size > 1024 ? 0.8 : 1
      }).then(
        (rst) => {
          this.$refs.replacePic.value = ''
          this.prePic = rst.base64
          this.result = rst
        }
      ).catch(
        (err) => {
          // 失败时执行
          console.log(err)
          this.$message.warning('上传失败，请重新上传')
        }
      ).always(
        () => {
          e.target.value = null
        }
      )
    },
    // 替换视频
    uploadVideo (url) {
      this.$message.success('替换成功')
      this.replaceVisible = false
      let picObj = {
        type: 'video',
        isAdd: false,
        projectId: '',
        ossId: '',
        url: url
      }
      this.compList.splice(this.replaceIndex, 1, picObj)
    },
    // 确认替换图片
    submitReplace () {
      this.replacePic({
        fileName: this.result.origin.name,
        fileContent: this.result.base64.split(',')[1],
        ossId: this.currentId
      }).then(
        res => {
          if (res.code === 0) {
            let picObj = {
              type: 'image',
              isAdd: false,
              projectId: '',
              ossId: res.data.ossId,
              url: res.data.url
            }
            this.compList.splice(this.replaceIndex, 1, picObj)
            this.$message.success('替换成功')
            this.replaceVisible = false
          }
        }
      )
    },
    // 取消上传
    unUploadPicture (index) {
      this.compList.splice(index, 1)
    },
    // 添加组件
    addComponent (type) {
      let addComp = {
        type: type,
        isAdd: true
      }
      this.compList.push(addComp)
      this.$nextTick(() => {
        let phone = this.$refs.phone
        phone.scrollTop = phone.scrollHeight + 200
      })
    },
    // 替换图片
    replacePicture (cur, type, index) {
      this.replaceVisible = true
      this.disabled = true
      this.prePic = cur.url
      this.currentId = cur.ossId
      this.replaceIndex = index
      this.currType = type
    },
    // 热区选取
    hotArea (pic, index) {
      this.disabled = true
      this.hotVisible = true
      this.prePic = pic.url
      this.picObj = pic
      this.hotIndex = index
    },
    // 保存热区
    submitHot (data) {
      this.saveHot({
        hotData: data
      }).then(
        res => {
          if (res.code === 0) {
            this.disabled = false
            this.hotVisible = false
            this.$message.success('保存成功')
            this.hotData.splice(this.hotIndex, 1, data)
          }
        }
      )
    },
    // 取消热区
    cancelHot () {
      this.disabled = false
      this.hotVisible = false
    },
    // 删除图片
    removePic (pic) {
      let index = this.compList.indexOf(pic)
      if (index !== -1) {
        this.compList.splice(index, 1)
      }
    },
    // 打开编辑表单弹框
    editDialog (cur, attr, index) {
      this.disabled = true
      this.editVisible = true
      this.currIndex = index
      if (cur.type && cur.type === 'form') {
        this.formData = cur.data
        this.editType = 'edit'
        this.formId = cur.ossId
        this.formAttr = attr
      } else {
        this.formData = []
        this.editType = 'add'
        this.formId = ''
      }
    },
    // 取消保存表单
    cancelForm () {
      this.editVisible = false
      this.disabled = false
    },
    // 保存表单
    submitForm (data, attr, type) {
      this.formAttr = attr
      data.forEach(item => {
        if (item.type === 'tally') {
          this.tally = item.calculateType
        }
        if (item.type === 'signup') {
          this.signup = item.showType
        }
      })
      if (type === 'add') {
        this.saveForm({
          formItem: data,
          formName: 'form',
          formAttr: attr
        }).then(
          res => {
            this.$message.success('保存成功')
            this.editVisible = false
            this.disabled = false
            let picObj = {
              type: 'form',
              isAdd: false,
              projectId: '',
              ossId: res.data.formId,
              data: data
            }
            this.compList.splice(this.currIndex, 1, picObj)
            this.formData = data
          }
        )
      } else if (type === 'edit') {
        this.updateForm({
          formItem: data,
          formName: 'form',
          formId: this.formId,
          formAttr: attr
        }).then(
          res => {
            this.$message.success('更新成功')
            this.editVisible = false
            this.disabled = false
            let picObj = {
              type: 'form',
              isAdd: false,
              projectId: '',
              ossId: res.data.formId,
              data: data
            }
            this.compList.splice(this.currIndex, 1, picObj)
            this.formData = data
          }
        )
      }
    },
    // 返回上一层
    goBack () {
      this.$confirm('您还未保存内容，是否需要保存?', '提示', {
        confirmButtonText: '保存',
        cancelButtonText: '不保存',
        type: 'warning'
      }).then(() => {
        this.saveFunc()
      }).catch(() => {
        this.$router.go(-1)
      })
    },
    // 显示预览页面二维码
    showQrCode () {
      let hotData = []
      this.hotData.forEach(item => {
        hotData = hotData.concat(item)
      })

      this.previewCode({
        projectId: this.projectId,
        itemData: this.compList,
        hotData: hotData
      }).then(
        res => {
          if (res.code === 0) {
            this.preCode = `data:img/png;base64,${res.data.fileContent}`
          }
        }
      )
    },
    // 发布项目
    releaseHandle () {
      this.$confirm('您确定保存内容吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(
        () => {
          this.saveFunc()
        }
      ).catch(
        () => {
          this.$message.info('取消保存成功')
        }
      )
    },
    // 保存项目回调
    saveFunc () {
      let picData = JSON.parse(JSON.stringify(this.compList))
      picData.forEach(pic => {
        pic.projectId = this.projectId
      })
      let hotData = []
      this.hotData.forEach(item => {
        hotData = hotData.concat(item)
      })

      this.reportPro({
        projectId: this.projectId,
        itemData: picData,
        hotData: hotData
      }).then(
        res => {
          if (res.code === 0) {
            this.$message.success('保存成功')
            this.$router.go(-1)
          }
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 900px;
  background: #fff;
  z-index: 1;
  padding: 20px;
  .page-head {
    position: fixed;
    top: 60px;
    left: 220px;
    padding-top: 20px;
    width: calc(100% - 240px);
    height: 50px;
    background-color: #fff;
    z-index: 999;
    .el-divider {
      margin-bottom: 0;
    }
  }
  .btns {
    position: absolute;
    right: 20px;
    top: 20px;
    .el-button {
      margin-right: 20px;
    }
  }
  .page-content {
    padding-top: 80px;
    .page-content-left {
      padding-right: 10px;
      display: inline-block;
      vertical-align: top;
      width: 70px;
      border-right: 1px solid #DCDFE6;
      height: 700px;
      .page-content-left__header {
        padding: 4px 0;
        margin-bottom: 10px;
      }
      .components-list {
        list-style: none;
        margin: 0;
        padding: 0;
        .components-list-item {
          text-align: center;
          border: 1px solid #DCDFE6;
          padding: 8px 0;
          margin-top: 10px;
          .item-icon {
            font-size: 26px;
          }
          .item-name {
            display: block;
            margin-top: 4px;
            font-size: 14px;
          }
          &:hover {
            background: #f8f8f9;
            cursor: pointer;
          }
        }
      }
    }
    .page-content-right {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 81px);
      .phone {
        margin-left: 10%;
        margin-top: 20px;
        width: 375px;
        height: 667px;
        background: #ebf1f6;
        box-shadow: 0 0 5px #606266;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        position: relative;
        .upload {
          width: 100%;
          height: 100px;
          box-sizing: border-box;
          border: 1px solid gray;
          position: relative;
          &:hover {
            border-color: #409EFF;
            box-shadow: 0 0 2px #409EFF;
            .upload-text {
              color: #409EFF;
            }
            .ctr-list {
              border-color: #409EFF;
              box-shadow: 0 0 2px #409EFF;
            }
          }
          .upload-text {
            text-align: center;
            line-height: 100px;
            font-size: 12px;
            .el-icon-upload {
              font-size: 16px;
            }
          }
          .upload-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            outline: none;
            cursor: pointer;
            opacity: 0;
          }
          .ctr-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-sizing: border-box;
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            right: -40px;
            top: -1px;
            border: 1px solid gray;
            width: 40px;
            height: 100px;
            border-radius: 0 5px 5px 0;
            .ctr-item {
              margin: 2px 0;
              width: 30px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              border-radius: 5px;
              background: #f2f2f2;
              &:hover {
                background: #d6d6d6;
              }
            }
          }
        }
      }
      ::-webkit-scrollbar {
        width: 0;
      }

      ::-webkit-scrollbar-track {
        background-color: inherit;
      }

      ::-webkit-scrollbar-thumb {
        background-color: inherit;
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: inherit;
      }

      ::-webkit-scrollbar-thumb:active {
        background-color: inherit;
      }
    }
  }
  .replace-dialog {
    margin: 10px;
    .upload {
      margin: auto;
      width: 400px;
      min-height: 100px;
      max-height: 500px;
      border: 1px dashed #909399;
      position: relative;
      overflow-y: auto;
      .upload-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 160px;
        height: 80px;
        line-height: 80px;
        font-size: 16px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        .el-icon-upload {
          font-size: 18px;
        }
      }
      .preview-pic {
        width: 100%;
        font-size: 0;
        img {
          width: 100%;
        }
      }
      .upload-input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        outline: none;
        cursor: pointer;
        opacity: 0;
      }
      &:hover {
        border-color: #409EFF;
        box-shadow: 0 0 2px #409EFF;
        .upload-text {
          color: #409EFF;
        }
      }
    }
    .video-prev {
      text-align: center;
      margin: auto;
      width: 500px;
      border: 1px dashed #909399;
      position: relative;
      overflow-y: auto;
      .replace-video {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 20%;
        width: 100%;
        height: 100%;
        z-index: 9;
      }
      .preview-pic {
        width: 100%;
        .video {
          width: 100%;
        }
      }
      .el-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
</style>
