<template>
  <div class="upload-video">
    <el-upload
      v-if="isShowUploadVideo"
      class="upload"
      :show-file-list="false"
      accept="video/*"
      :data="qn"
      :on-success="handleVideoSuccess"
      :before-upload="beforeUploadVideo"
      :on-progress="uploadVideoProcess"
      action="https://upload.qiniup.com/"
    >
      <i class="el-icon el-icon-video-camera"></i>
      <el-button plain>
        上传视频
      </el-button>
    </el-upload>
    <el-progress v-if="videoFlag" type="circle" :percentage="videoUploadPercent" style="margin-top:7px;"></el-progress>
  </div>
</template>

<script type="text/ecmascript-6">
import { mapActions } from 'vuex'
export default {
  name: 'upload-video',
  data () {
    return {
      // 是否显示进度条
      videoFlag: false,
      // 进度条的进度
      videoUploadPercent: 0,
      // 显示上传按钮
      isShowUploadVideo: true,
      // 七牛云
      qn: {
        key: '',
        token: ''
      },
      qnUrl: 'https://dhszimg.fangxiaopin.cn/'
    }
  },
  mounted () {
    this.getQNToken()
  },
  methods: {
    ...mapActions('d2admin/project', [
      'getOssToken'
    ]),
    // 获取token
    getQNToken () {
      this.getOssToken().then(
        res => {
          if (res.code === 0) {
            // 给token赋值
            this.qn.token = res.token
          }
        }
      )
    },
    // 上传视频前回调
    beforeUploadVideo (file) {
      let fileSize = file.size / 1024 / 1024 < 300
      // 给key赋值
      this.qn.key = 'dhsz/video/' + file.name
      if (['video/mp4'].indexOf(file.type) === -1) {
        this.$message({ type: 'info', message: '请上传正确的视频格式' })
        return false
      }
      if (!fileSize) {
        this.$message({ type: 'info', message: '视频大小不能超过300MB' })
        return false
      }
    },
    // 上传视频时，进度条
    uploadVideoProcess (event, file, fileList) {
      this.isShowUploadVideo = false
      this.videoFlag = true
      this.videoUploadPercent = Number(file.percentage.toFixed(0))
    },
    // 上传成功回调
    handleVideoSuccess (res, file) {
      let video = this.qnUrl + res.key
      this.isShowUploadVideo = false
      this.videoFlag = false
      this.videoUploadPercent = 0

      this.$emit('upload', video)
    }
  }
}
</script>

<style lang="scss" scoped>
  .upload-video {
    padding-top: 10%;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    .upload {
      width: 100%;
      height: 100%;
      text-align: center;
      box-sizing: border-box;
      .el-icon {
        display: block;
        font-size: 50px;
        color: #666;
      }
      .el-button {
        position: relative;
        top: 10px;
        overflow: hidden;
        .upload-input {
          position: absolute;
          left: -1px;
          top: -1px;
          right: -1px;
          bottom: -1px;
          opacity: 0;
        }
      }
    }
    .el-progress {
      margin: 37px 0!important;
    }
  }
</style>
