<template>
  <div class="hot-area">
    <div class="area-left">
      <div class="pic-wrap">
        <draw-rect
          ref="drawRect"
          :img="pic"
          :width="hot.w"
          :height="hot.h"
          :hotData="hotData"
          @getData="getHotData"
        ></draw-rect>
      </div>
    </div>
    <div class="area-right">
      <el-table :data="tableData" height="667px" stripe loading size="medium" style="width: 100%">
        <el-table-column type="index" align="center" width="60">
        </el-table-column>
        <el-table-column prop="type" align="center" label="类型" width="120">
          <template slot-scope="scope">
            <el-select v-model="scope.row.type" size="mini" @change="changeType(scope.row)" placeholder="请选择">
              <el-option
                v-for="(type, index) in types"
                :key="index"
                :label="type.name"
                :value="type.id">
              </el-option>
            </el-select>
          </template>
        </el-table-column>
        <el-table-column prop="url" align="center" label="链接">
          <template slot-scope="scope">
            <el-input v-model="scope.row.url" size="mini" @change="changeType(scope.row)" placeholder="请输入链接" clearable></el-input>
            <el-input v-if="scope.row.type === '1'" v-model="scope.row.appId" size="mini" @change="changeType(scope.row)" placeholder="请输入appId" clearable></el-input>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="center" width="50">
          <template slot-scope="scope">
            <el-link type="primary" slot="reference" @click="removeHandle(scope.row)"><i class="el-icon-delete"></i></el-link>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="cancelHot">取 消</el-button>
      <el-button type="primary" size="mini" @click="submitHot">确 定</el-button>
    </div>
  </div>
</template>

<script>
import drawRect from '../../components/draw-rect'
import removeArr from '../../../../../../public/js/removeArr'
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      types: [
        { id: '0', name: '链接' },
        // { id: '1', name: '小程序' },
        { id: '2', name: '页面路径' }
      ],
      tableData: [],
      hotData: [],
      visible: false,
      hot: {
        w: 0,
        h: 0
      }
    }
  },
  components: {
    drawRect
  },
  props: {
    pic: {
      type: String,
      default: ''
    },
    picObj: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  watch: {
    pic () {
      this.setSize()
    }
  },
  mounted () {
    this.setSize()
  },
  methods: {
    ...mapActions('d2admin/project', [
      'infoHot',
      'removeHot'
    ]),
    // 设置显示区域大小
    setSize () {
      let img = new Image()
      img.src = this.pic
      let bl = 375 / img.width
      img.width = 375
      this.hot.w = img.width
      this.hot.h = img.height * bl

      this.infoHotData()
    },
    // 获取已有热区
    infoHotData () {
      this.infoHot({
        ossId: this.picObj.ossId
      }).then(
        res => {
          if (res.code === 0) {
            this.tableData = []
            this.hotData = []
            res.list.forEach(hot => {
              let row = {
                id: hot.id,
                itemId: hot.itemId,
                appId: hot.appId,
                type: hot.type,
                url: hot.url,
                hotX: hot.hotX,
                hotY: hot.hotY,
                hotW: hot.hotW,
                hotH: hot.hotH
              }
              let rect = {
                id: hot.id,
                appId: hot.appId,
                type: hot.type,
                url: hot.url,
                x: hot.hotX,
                y: hot.hotY,
                w: hot.hotW,
                h: hot.hotH
              }
              this.tableData.push(row)
              this.hotData.push(rect)
            })
          }
        }
      )
    },
    // 获取新增热区
    getHotData (data) {
      this.tableData = []
      data.forEach(hot => {
        let row = {
          id: hot.id,
          itemId: this.picObj.ossId,
          appId: hot.appId,
          type: hot.type || '',
          url: hot.url || '',
          hotX: hot.x,
          hotY: hot.y,
          hotW: hot.w,
          hotH: hot.h
        }
        this.tableData.push(row)
      })
    },
    // 改变类型
    changeType (hot) {
      let index = this.tableData.indexOf(hot)
      let rect = {
        appId: hot.appId,
        type: hot.type,
        url: hot.url,
        x: hot.hotX,
        y: hot.hotY,
        w: hot.hotW,
        h: hot.hotH
      }
      this.hotData.splice(index, 1, rect)
    },
    // 点击删除
    removeHandle (obj) {
      let hot = {
        id: obj.id,
        appId: obj.appId,
        type: obj.type,
        url: obj.url,
        x: obj.hotX,
        y: obj.hotY,
        w: obj.hotW,
        h: obj.hotH
      }
      if (obj.id) {
        this.removeHot({
          id: obj.id
        }).then(
          res => {
            if (res.code === 0) {}
          }
        )
      } else {
        if (obj.appId || obj.type || obj.url) {
          delete hot.id
        } else {
          delete hot.id
          delete hot.appId
          delete hot.type
          delete hot.url
        }
      }
      removeArr(this.tableData, obj)
      this.$refs.drawRect.removeRect(hot)
      this.visible = false
    },
    // 保存热区
    submitHot () {
      this.$emit('submit', this.tableData)
    },
    // 取消保存
    cancelHot () {
      this.infoHotData()
      this.$emit('cancel')
    }
  }
}
</script>

<style lang="scss" scoped>
.hot-area {
  width: 100%;
  .area-left {
    display: inline-block;
    vertical-align: top;
    width: 375px;
    height: 667px;
    border-right: 1px solid #d6d6d6;
    padding-right: 4px;
    margin-right: 5px;
    .pic-wrap {
      height: 667px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      font-size: 0;
    }
    ::-webkit-scrollbar {
      width: 0;
    }

    ::-webkit-scrollbar-track {
      background-color: inherit;
    }

    ::-webkit-scrollbar-thumb {
      background-color: inherit;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: inherit;
    }

    ::-webkit-scrollbar-thumb:active {
      background-color: inherit;
    }
  }
  .area-right {
    display: inline-block;
    vertical-align: top;
    width: 475px;
    height: 667px;
    .el-input--mini {
      margin: 2px 0;
    }
  }
  .dialog-footer {
    margin-top: 30px;
    text-align: right;
  }
}
</style>
