<template>
  <div class="page-login">
    <div class="page-login--header">
      <div class="page-login--logo">
        <img src="./image/logo@2x.png">
      </div>
    </div>
    <div class="page-login--layer page-login--layer-area">
      <ul class="circles">
        <li v-for="n in 10" :key="n"></li>
      </ul>
    </div>
    <div
      class="page-login--layer page-login--layer-time"
      flex="main:center cross:center">
      {{time}}
    </div>
    <div class="page-login--layer">
      <div
        class="page-login--content"
        flex="dir:top main:justify cross:stretch box:justify">
        <div class="page-login--content-main" flex="dir:top main:center cross:center">
          <!-- 二维码 -->
          <div class="page-login--qrcode">
            <el-card shadow="never">
              <wxlogin
                id="wxLogin"
                :appid="wxLoData.appId"
                :scope="wxLoData.scope"
                :redirect_uri="wxLoData.redirectUri"
                :href="wxLoData.href"
                :state="wxLoData.state"
              ></wxlogin>
            </el-card>
          </div>
        </div>
        <div class="page-login--content-footer">
          <p class="page-login--content-footer-record">
            <a href="http://beian.miit.gov.cn/" target="_blank">苏ICP备17053429号&nbsp;</a>
            <img width="10" height="13" src="./image/copy_rignt.png">
          </p>
          <p class="page-login--content-footer-copyright">
            江苏兆腾网络科技有限公司 提供技术支持
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import { mapActions } from 'vuex'
import wxlogin from 'vue-wxlogin'
export default {
  data () {
    return {
      identifyCode: '',
      identifyCodes: '1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ',
      timeInterval: null,
      time: dayjs().format('HH:mm:ss'),
      remember: true,
      // 表单
      formLogin: { username: '', password: '', captcha: '', uuid: '' },
      // 表单校验
      rules: {
        username: [{ required: true, message: '请输入用户名', trigger: 'blur' }],
        password: [{ required: true, message: '请输入密码', trigger: 'blur' }],
        captcha: [{ required: true, message: '请输入验证码', trigger: 'blur' }]
      },
      wxLoData: {
        appId: 'wx46cead6213650f63',
        scope: 'snsapi_login',
        redirectUri: encodeURIComponent(process.env.VUE_APP_API + 'wechat/callback'),
        state: null
      }
    }
  },
  components: {
    wxlogin
  },
  mounted () {
    let inviteCode = this.$route.query.inviteCode
    if (inviteCode) {
      this.wxLoData.state = inviteCode
    } else {
      this.wxLoData.state = null
    }

    let wxLogin = document.getElementById('wxLogin').querySelector('iframe')
    wxLogin.setAttribute('sandbox', 'allow-scripts allow-top-navigation')

    this.timeInterval = setInterval(() => {
      this.refreshTime()
    }, 1000)
  },
  beforeDestroy () {
    clearInterval(this.timeInterval)
  },
  methods: {
    ...mapActions('d2admin/account', [
      'login'
    ]),
    refreshTime () {
      this.time = dayjs().format('HH:mm:ss')
    },
    // 点击验证码刷新
    changeCode () {
      this.identifyCode = ''
      this.makeCode(this.identifyCodes, 4)
    },
    // 生成一个随机整数 randomNum(0, 62) 0 到 62 之间的随机整数，包含 0 和 62
    randomNum (min, max) {
      max = max + 1
      return Math.floor(Math.random() * (max - min) + min)
    },
    // 随机生成验证码字符串
    makeCode (data, len) {
      for (let i = 0; i < len; i++) {
        this.identifyCode += data[this.randomNum(0, data.length - 1)]
      }
    },
    /**
     * @description 提交表单
     */
    // 提交登录信息
    submit () {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          // 登录
          this.login({
            username: this.formLogin.username,
            password: this.formLogin.password,
            captcha: this.formLogin.captcha,
            uuid: new Date().getTime(),
            remember: this.remember
          })
            .then(() => {
              if (this.formLogin.captcha.toLowerCase() === this.identifyCode.toLowerCase()) {
                // 重定向对象不存在则返回顶层路径
                this.$router.replace(this.$route.query.redirect || '/')
              } else {
                this.$message.error('验证码错误，请重新输入')
              }
            })
        } else {
          // 登录表单校验失败
          this.$message.error('表单校验失败，请检查')
        }
      })
    },
    // 忘记密码
    forgetPsw () {
      this.$message.info('请联系管理获取密码')
    }
  }
}
</script>

<style lang="scss">
.page-login {
  @extend %unable-select;
  $backgroundColor: #F0F2F5;
  // ---
  background-color: $backgroundColor;
  height: 100%;
  position: relative;
  // 头
  .page-login--header {
    height: 60px;
    .page-login--logo {
      display: inline-block;
      vertical-align: top;
      img {
        margin: 10px 20px;
        height: 60px;
      }
    }
    .page-login--sub-title {
      padding-left: 10px;
      margin: 0;
      line-height: 60px;
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      font-family: "Microsoft YaHei";
    }
  }
  // 层
  .page-login--layer {
    @extend %full;
    overflow: auto;
  }
  .page-login--layer-area {
    overflow: hidden;
  }
  // 时间
  .page-login--layer-time {
    font-size: 24em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.03);
    overflow: hidden;
  }
  // 登陆页面控件的容器
  .page-login--content {
    height: 100%;
    min-height: 500px;
    .page-login--content-main {
      position: relative;
    }
  }
  // main
  // 登录表单
  .page-login--form {
    margin-top: 3em;
    width: 400px;
    // 卡片
    .el-card {
      margin-bottom: 15px;
      background: rgba(255, 255, 255, 0.5);
      .el-card__body {
        padding: 30px;
      }
    }
    .page-login--form-title {
      text-align: center;
      font-size: 26px;
      line-height: 1.5;
    }
    .page-login--form-sub-title {
      text-align: center;
      font-size: 14px;
      line-height: 2.5;
      margin-bottom: 10px;
    }
    // 登录按钮
    .button-login {
      width: 100%;
    }
    // 输入框左边的图表区域缩窄
    .el-input-group__prepend {
      padding: 0px 14px;
    }
    .login-code {
      height: 40px - 2px;
      display: block;
      margin: 0px -20px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    // 登陆选项
    .page-login--options {
      margin: 0px;
      padding: 0px;
      font-size: 14px;
      color: $color-primary;
      margin-bottom: 15px;
      font-weight: bold;
    }
    .remember {
      height: 40px;
      .el-checkbox {
        float: left;
      }
      .page-login--options {
        float: right;
        margin: 0;
      }
    }
  }
  // 登录二维码
  .page-login--qrcode {
    width: 360px;
    position: absolute;
    top: 0;
    right: 10%;
    // 卡片
    .el-card {
      margin-bottom: 15px;
      background: #f9fafb;
      .el-card__body {
        padding: 30px;
      }
    }
    /*.page-login--title {*/
    /*  font-size: 0;*/
    /*  text-align: center;*/
    /*  width: 298px;*/
    /*  height: 79px;*/
    /*  background: url("./image/title.png") no-repeat center;*/
    /*  background-size: 100% 100%;*/
    /*  margin-bottom: 10px;*/
    /*}*/
    /*.page-login--code {*/
    /*  margin-left: 20px;*/
    /*  width: 260px;*/
    /*  height: 260px;*/
    /*  background: url("./image/code.png") no-repeat center;*/
    /*  background-size: 100% 100%;*/
    /*}*/
  }
  // footer
  .page-login--content-footer {
    padding: 1em 0;
    .page-login--content-footer-record {
      padding: 0;
      margin: 0 0 10px;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      a {
        color: $color-text-normal;
        text-decoration: underline!important;
      }
    }
    .page-login--content-footer-copyright {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: $color-text-normal;
    }
  }
  // 背景
  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: #FFF;
      animation: animate 25s linear infinite;
      bottom: -200px;
      @keyframes animate {
        0%{
          transform: translateY(0) rotate(0deg);
          opacity: 1;
          border-radius: 0;
        }
        100%{
          transform: translateY(-1000px) rotate(720deg);
          opacity: 0;
          border-radius: 50%;
        }
      }
      &:nth-child(1) {
        left: 15%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        left: 5%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
      }
      &:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
      }
      &:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
      }
      &:nth-child(5) {
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
      }
      &:nth-child(6) {
        left: 75%;
        width: 150px;
        height: 150px;
        animation-delay: 3s;
      }
      &:nth-child(7) {
        left: 35%;
        width: 200px;
        height: 200px;
        animation-delay: 7s;
      }
      &:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
      }
      &:nth-child(9) {
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
      }
      &:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
      }
    }
  }
}
</style>
