.ctr-item {
  margin: 10px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  background: #f2f2f2;
  img {
    margin-top: 5px;
    width: 20px;
  }
  &:hover {
    background: #d6d6d6;
  }
}

.my-popover {
  min-width: 30px!important;
}

.ghost {
  opacity: 0;
}
