<template>
  <div>
    <slot name="img" :usemap="usemap"></slot>
    <map :name="usemap" :id="usemap">
      <area :coords="coords(p)" v-for="(p, i) in item.props" :key="i">
    </map>
  </div>
</template>

<script>
function * nextId () {
  let index = 0
  while (true) {
    yield index++
  }
}
let mapAreaId = nextId()

export default {
  data () {
    return {
      index: 0
    }
  },
  props: {
    configDefaultWth: { // 后端默认宽度
      type: [Number],
      default: 400
    },
    id: { // 热区id
      type: String,
      default: 'id'
    },
    item: {
      type: [Object],
      default: () => {
        return {
          props: [
            {
              rightBottomSpot: '401, 304',
              leftTopSpot: '0, 0', // 坐标
              link: 'B' // 跳转地址
            }
          ]
        }
      }
    }
  },
  mounted () {
    this.index = mapAreaId.next().value
  },
  methods: {
    coords (item) {
      return item
    }
  }
}
</script>

<style></style>
