<template>
  <div ref="tagBox" class="tag-box" :style="{height: height + 'px'}">
    <canvas ref="picBox" :width="width" :height="height"></canvas>
    <canvas ref="showBox" :width="width" :height="height"></canvas>
    <canvas
      ref="box"
      :width="width"
      :height="height"
      @mousedown="mouseDown($event)"
      @mouseup="mouseUp($event)"
      @mousemove="mouseMove($event)"
      @contextmenu.prevent="contextMenu($event)"
      @mouseout="mouseOut($event)"
    ></canvas>
  </div>
</template>

<script>
import removeArr from '../../../../../../public/js/removeArr'
export default {
  data () {
    return {
      ctx: null,
      showCtx: null,
      bdColor: 'rgba(255, 255, 255, 0.8)',
      bgColor: 'rgba(255, 255, 255, 0.3)',
      mouse: {
        startX: '',
        startY: '',
        endX: '',
        endY: '',
        curX: '',
        curY: '',
        isDown: false,
        isDrag: false,
        isResize: false,
        isDraw: false,
        radious: 5, // 边界值
        recSize: 2,
        index: -1,
        currentIndex: -1,
        side: 0,
        max: 2000
      }
    }
  },
  props: {
    img: {
      type: String,
      default: ''
    },
    width: {
      type: Number,
      default: 300
    },
    height: {
      type: Number,
      default: 300
    },
    hotData: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  watch: {
    hotData () {
      this.initDraw()
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.ctx = this.$refs.box.getContext('2d')
      this.showCtx = this.$refs.showBox.getContext('2d')
      this.picCtx = this.$refs.picBox.getContext('2d')
      this.initDraw()
    })
  },
  methods: {
    initDraw () {
      let pc = this.$refs.picBox
      let img = new Image()
      img.src = this.img
      img.onload = (e) => {
        this.picCtx.drawImage(e.target, 0, 0, pc.width, pc.height)
        let canvas = this.$refs.showBox
        this.showCtx.clearRect(0, 0, canvas.width, canvas.height)
        this.drawRect(this.showCtx, this.hotData)
      }
    },
    // 绘制矩形
    drawRect (ctx, rects) {
      rects.forEach((rect, index) => {
        index = index + 1
        ctx.strokeStyle = this.bdColor
        ctx.fillStyle = this.bgColor
        ctx.strokeRect(rect.x, rect.y, rect.w, rect.h)
        ctx.fillRect(rect.x, rect.y, rect.w, rect.h)
        ctx.shadowColor = 'rgba(0, 0, 0, 0.6)'
        ctx.shadowOffsetX = 2
        ctx.shadowOffsetY = 2
        ctx.shadowBlur = 2
        ctx.font = '15px bold Verdana'
        ctx.fillStyle = 'rgb(255, 255, 255)'
        ctx.textAlign = 'center'
        ctx.textBaseline = 'middle'
        ctx.fillText(index, rect.x + 8, rect.y + 10)
        // 绘制拖拽点
        this.drawLitRecs(ctx, this.prepareLitRecs(rect), this.mouse.recSize)
      })
    },
    // 鼠标按下
    mouseDown (e) {
      if (this.hotData.length >= this.mouse.max) {
        this.$message.warning(`热区最多不能超过 ${this.mouse.max} 个`)
        return false
      }
      this.mouse.startX = ''
      this.mouse.startY = ''
      this.mouse.endX = ''
      this.mouse.endY = ''

      this.mouse.startX = e.offsetX
      this.mouse.startY = e.offsetY
      this.mouse.curX = e.offsetX
      this.mouse.curY = e.offsetY
      this.mouse.isDown = true

      this.mouse.index = this.getEventIndex(
        this.hotData,
        this.mouse.curX,
        this.mouse.curY,
        this.mouse.radious
      ) // 得到落点所在框的序数
      this.currentIndex = this.mouse.index
      if (this.mouse.index >= 0) {
        // 移动或者放缩
        this.mouse.startX = this.hotData[this.mouse.index].x
        this.mouse.startY = this.hotData[this.mouse.index].y
        this.mouse.side = this.getEventArea(
          this.hotData[this.mouse.index],
          this.mouse.curX,
          this.mouse.curY,
          this.mouse.radious
        ) // 得到落点在一个框中的区域
        if (this.mouse.side < 9) {
          // 准备缩放
          this.mouse.isResize = true
        } else {
          // 准备拖动
          this.mouse.isDrag = true
        }
      } else {
        this.mouse.isDraw = true
      }
      this.changeResizeCursor(this.$refs.box, this.mouse.side)
    },
    // 鼠标抬起
    mouseUp (e) {
      let canvas = this.$refs.box
      this.ctx.clearRect(0, 0, canvas.width, canvas.height)
      this.mouse.endX = e.offsetX - this.mouse.startX
      this.mouse.endY = e.offsetY - this.mouse.startY
      if (this.mouse.isDraw) {
        if (this.mouse.startX >= e.offsetX || this.mouse.startY >= e.offsetY) {
          return false
        }
        let rectObj = {
          x: this.mouse.startX,
          y: this.mouse.startY,
          w: this.mouse.endX,
          h: this.mouse.endY
        }
        this.hotData.push(rectObj)
        this.drawRect(this.showCtx, this.hotData)
      }
      this.mouse.isDown = false
      this.mouse.isResize = false
      this.mouse.isDrag = false
      if (this.mouse.isDraw) {
        this.mouse.isDraw = false
      }
      this.$emit('getData', this.hotData)
    },
    // 鼠标移动
    mouseMove (e) {
      let index = null
      let side = null
      let curX = e.offsetX
      let curY = e.offsetY
      let canvas = this.$refs.showBox
      curX = curX === canvas.width ? canvas.width : curX
      curY = curY === canvas.height ? canvas.height : curY
      this.showCtx.clearRect(0, 0, canvas.width, canvas.height)
      this.drawRect(this.showCtx, this.hotData)
      // 当鼠标按下去
      if (this.mouse.isDown) {
        this.ctx.clearRect(0, 0, canvas.width, canvas.height)
        if (this.mouse.isDraw) {
          if (this.mouse.startX >= curX || this.mouse.startY >= curY) {
            return false
          }
          this.drawLine(this.ctx, curX, curY)
        }
      }
      // 得到当前位置是否在矩形框内
      index = this.getEventIndex(this.hotData, curX, curY, this.mouse.radious)
      if (index > -1) {
        // 得到落点在一个框中的区域
        side = this.getEventArea(this.hotData[index], curX, curY, this.mouse.radious)
      } else {
        side = 0
      }
      this.changeResizeCursor(this.$refs.box, side)

      if (this.mouse.isDrag) {
        this.moveRec(
          this.$refs.box,
          this.hotData[this.mouse.index],
          e
        )
      }
      if (this.mouse.isResize) {
        this.reSizeRec(
          this.mouse.side,
          this.hotData[this.mouse.index],
          curX,
          curY,
          this.mouse.recSize
        )
      }
    },
    // 鼠标离开
    mouseOut (e) {
      let dom = this.$refs.box
      let x = e.clientX
      let y = e.clientY
      let domX1 = dom.offsetLeft
      let domY1 = dom.offsetTop
      let domX2 = dom.offsetLeft + dom.offsetWidth
      let domY2 = dom.offsetTop + dom.offsetHeight
      if (x < domX1 || x > domX2 || y < domY1 || y > domY2) {
        this.ctx.clearRect(0, 0, dom.width, dom.height)
        this.mouse.isDown = false
      }
    },
    // 右键
    contextMenu (e) {
      return false
    },
    // 删除热区
    removeRect (obj) {
      removeArr(this.hotData, obj)
      let canvas = this.$refs.showBox
      this.showCtx.clearRect(0, 0, canvas.width, canvas.height)
      this.drawRect(this.showCtx, this.hotData)
    },
    // 鼠标移动时画线
    drawLine (ctx, x, y) {
      ctx.beginPath()
      ctx.moveTo(this.mouse.startX, this.mouse.startY)
      ctx.lineTo(x, this.mouse.startY)
      ctx.lineTo(x, y)
      ctx.lineTo(this.mouse.startX, y)
      ctx.lineTo(this.mouse.startX, this.mouse.startY)
      ctx.strokeStyle = this.bdColor
      ctx.stroke()
    },
    // 把一个框的左上角坐标和宽高输入，得到8个坐标，左3，右3中2
    prepareLitRecs (data) {
      let li = []
      li[0] = [data.x, data.y]
      li[1] = [data.x, data.y + data.h / 2]
      li[2] = [data.x, data.y + data.h]
      li[3] = [data.x + data.w, data.y]
      li[4] = [data.x + data.w, data.y + data.h / 2]
      li[5] = [data.x + data.w, data.y + data.h]
      li[6] = [data.x + data.w / 2, data.y]
      li[7] = [data.x + data.w / 2, data.y + data.h]
      return li
    },
    // 画移动时的小框,data为矩形框9个点的坐标
    drawLitRecs (ctx, data, size) {
      for (let i = 0; i < data.length; i++) {
        ctx.strokeRect(
          data[i][0] - size / 2,
          data[i][1] - size / 2,
          size,
          size
        )
      }
    },
    // 得到落点所在框的序数，-1代表没有落在任何框内
    getEventIndex (recs, x, y, radious) {
      if (recs.length === 0) {
        return -1
      }
      for (let i = 0; i < recs.length; i++) {
        if (
          x > recs[i].x - radious &&
          x < recs[i].x + recs[i].w + radious &&
          y > recs[i].y - radious &&
          y < recs[i].y + recs[i].h + radious
        ) {
          return i
        }
        if (i === recs.length - 1) {
          return -1
        }
      }
    },
    // 移动方框
    moveRec (canvas, rect, e) {
      rect.x = this.mouse.startX + e.offsetX - this.mouse.curX
      rect.y = this.mouse.startY + e.offsetY - this.mouse.curY
    },
    // 得到落点在一个框中的区域
    getEventArea (data, x, y, radious) {
      if (x > data.x - radious && x < data.x + radious) {
        if (y > data.y - radious && y < data.y + radious) {
          return 1
        } else if (y > data.y + radious && y < data.y + data.h - radious) {
          return 2
        } else if (
          y > data.y + data.h - radious &&
          y < data.y + data.h + radious
        ) {
          return 3
        }
      } else if (
        x > data.x + data.w - radious &&
        x < data.x + data.w + radious
      ) {
        if (y > data.y - radious && y < data.y + radious) {
          return 4
        } else if (y > data.y + radious && y < data.y + data.h - radious) {
          return 5
        } else if (
          y > data.y + data.h - radious &&
          y < data.y + data.h + radious
        ) {
          return 6
        }
      } else {
        if (
          y > data.y - radious &&
          y < data.y + radious &&
          x > data.x + radious &&
          x < data.x + data.w - radious
        ) {
          return 7
        } else if (
          y > data.y + data.h - radious &&
          y < data.y + data.h + radious &&
          x > data.x + radious &&
          x < data.x + data.w - radious
        ) {
          return 8
        } else {
          return 9
        }
      }
    },
    // 改变鼠标指针样式
    changeResizeCursor (canvas, index) {
      switch (index) {
        case 0:
          canvas.style.cursor = 'crosshair'
          break
        case 1:
          canvas.style.cursor = 'se-resize'
          break
        case 2:
          canvas.style.cursor = 'e-resize'
          break
        case 3:
          canvas.style.cursor = 'ne-resize'
          break
        case 4:
          canvas.style.cursor = 'sw-resize'
          break
        case 5:
          canvas.style.cursor = 'w-resize'
          break
        case 6:
          canvas.style.cursor = 'nw-resize'
          break
        case 7:
          canvas.style.cursor = 's-resize'
          break
        case 8:
          canvas.style.cursor = 'n-resize'
          break
        case 9:
          canvas.style.cursor = 'move'
          break
        default:
          canvas.style.cursor = 'default'
      }
    },
    // 改变大小
    reSizeRec (index, rec, ex, ey, recSize) {
      let temX = rec.x
      let temY = rec.y
      if (index < 4 && temX + rec.w - ex > recSize) {
        rec.x = ex
      }
      if (
        (index === 1 || index === 4 || index === 7) &&
        temY + rec.h - ey > recSize
      ) {
        rec.y = ey
      }
      if (index < 4) {
        if (temX + rec.w - ex > recSize) {
          rec.w = temX + rec.w - ex
        }
      } else if (index < 7) {
        if (ex - temX > recSize) {
          rec.w = ex - temX
        }
      }
      if (index === 1 || index === 4 || index === 7) {
        if (temY + rec.h - ey > recSize) {
          rec.h = temY + rec.h - ey
        }
      } else if (index === 3 || index === 6 || index === 8) {
        if (ey - temY > recSize) {
          rec.h = ey - temY
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .tag-box {
    position: relative;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      &:hover {
        cursor: crosshair;
      }
    }
  }
</style>
