.form-make {
  padding: 0 30px;
  height: 770px;
  position: relative;
  //border-top: 1px solid rgba(0,0,0,0.12);
  .left {
    float: left;
    .header {
      margin-bottom: 10px;
      font-size: 14px;
      text-overflow: ellipsis;
    }
    .content {
      padding: 10px;
      width: 400px;
      height: 671px;
      border: 2px dashed rgba(0,0,0,0.12);
      box-sizing: border-box;
      .ct-name {
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.12);
        font-weight: bold;
      }
      .ct-list {
        margin: 5px 5px 10px;
        font-size: 0;
        .ct-item {
          margin: 5px;
          display: inline-block;
          font-size: 14px;
          width: 110px;
          line-height: 32px;
          text-align: center;
          background-color: #ecf1f4;
          border: 1px solid #ecf1f4;
          user-select: none;
          &:hover {
            border: 1px solid #409EFF;
            color: #409EFF;
            cursor: move;
          }
        }
      }
    }
  }
  .center {
    margin-left: 20px;
    float: left;
    .header {
      margin-bottom: 10px;
      font-size: 14px;
      text-overflow: ellipsis;
    }
    .content {
      width: 375px;
      height: 667px;
      border: 2px dashed red;
      .ct-list {
        padding: 10px;
        box-sizing: border-box;
        font-size: 0;
        width: 375px;
        height: 667px;
        overflow-y: auto;
        .draggable, .transition {
          height: 100%;
        }
        .ct-item {
          font-size: 14px;
          padding: 5px 0;
          margin-bottom: 5px;
          border: 1px dashed rgba(0,0,0,0.12);
          position: relative;
          .el-icon {
            position: absolute;
            right: -4px;
            bottom: -4px;
            font-size: 14px;
            padding: 4px;
            background-color: #f56c6c;
            color: #fff;
            border-radius: 10px;
            z-index: 2001;
            display: none;
            cursor: pointer;
          }
          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: block;
            z-index: 1001;
          }
          &.active {
            border: 1px solid #409EFF;
            .el-icon {
              display: inline-block;
            }
          }
          &:hover {
            border-color: #409EFF;
          }
          &.ghost {
            opacity: 1;
            border: 1px dashed #409EFF;
            position: relative;
            &::after {
              background-color: #fff;
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              display: block;
              z-index: 1001;
            }
          }
          .form-item {
            display: flex;
            flex-direction: row;
            padding: 10px;
            &.flex-column {
              flex-direction: column;
              .el-form-item__label {
                width: auto!important;
              }
            }
            .el-form-item__label {
              text-align: left;
            }
            .el-input, .el-select, .el-cascader {
              width: 100%;
              height: 40px;
            }
            .text {
              padding: 0 10px;
              line-height: 1.2;
            }
            .info-text {
              margin: 0;
              width: 100%;
              text-align: center;
              font-size: 12px;
            }
            .el-radio-group {
              .el-radio {
                display: block;
                line-height: 30px;
                &:first-child {
                  margin-top: 5px;
                }
              }
              &.inline {
                .el-radio {
                  display: inline-block;
                }
              }
            }
            .el-checkbox-group {
              .el-checkbox {
                display: block;
                line-height: 30px;
                &:first-child {
                  margin-top: 5px;
                }
              }
              &.inline {
                .el-checkbox {
                  display: inline-block;
                }
              }
            }
            .el-switch,
            .el-rate {
              padding-top: 10px;
            }
            .submit {
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }
  }
  .right {
    margin-left: 20px;
    float: left;
    .header {
      margin-bottom: 10px;
      font-size: 14px;
      text-overflow: ellipsis;
    }
    .content {
      width: 275px;
      border: 2px dashed rgba(0,0,0,0.12);
      overflow-y: auto;
      &.word-attr {
        height: 400px;
        margin-bottom: 15px;
      }
      &.form-attr {
        height: 218px;
      }
      .form-setting {
        .form-setting-item {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 10px;
          .el-form-item__label {
            text-align: left;
          }
          .el-switch {
            width: 40px;
          }
          .option-box {
            .el-button--text {
              margin-left: 10px;
              margin-top: 10px;
              padding: 0;
            }
            .option-item {
              display: flex;
              margin-bottom: 5px;
              .el-icon {
                line-height: 40px;
                font-size: 22px;
                &.el-icon-rank {
                  cursor: move;
                }
                &.el-icon-delete {
                  cursor: pointer;
                  color: #f56c6c;
                }
              }
              .el-input {
                margin: 0 5px;
              }
              &.ghost {
                opacity: 1;
                border: 1px dashed #409EFF;
                position: relative;
                &::after {
                  background-color: #fff;
                  content: '';
                  position: absolute;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  top: 0;
                  display: block;
                  z-index: 1001;
                }
              }
            }
          }
        }
      }
    }
  }
  .dialog-footer {
    position: absolute;
    bottom: 0;
    right: 30px;
  }
}

.clearfix {
  overflow: auto;
}
.clearfix {
  zoom: 1;  /*为了兼容IE*/
}
