<template>
  <div class="form-make">
    <div class="left">
      <div class="header">自定义表单项</div>
      <div class="content">
        <div v-for="com in comData" :key="com.id">
          <p class="ct-name">{{ com.name }}</p>
          <div class="ct-list">
            <draggable
              :list="com.children"
              :sort="false"
              :group="{ name: 'form', pull: 'clone', put: false }"
              :options="{ chosenClass: 'chosen-com' }"
              :clone="cloneCom"
            >
              <div class="ct-item"
                   ref="comNode"
                   v-for="(c, index) in com.children"
                   :key="'c' + index"
                   @click="cloneNode(c)"
              >{{ c.name }}</div>
            </draggable>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <div class="header">拖拽/点击左侧表单项到此区域</div>
      <div class="content">
        <div class="ct-list">
          <draggable
            class="draggable"
            :list="formData"
            :options="{ chosenClass: 'chosen-form', ghostClass: 'ghost' }"
            group="form"
          >
            <transition-group class="transition" :style="{backgroundColor: formAttr.backgroundColor}" tag="div">
              <div class="ct-item"
                   :class="{'active': current === f.key}"
                   ref="comNode"
                   v-for="(f, index) in formData"
                   :key="'f' + index"
                   @click="selectNode(f)"
              >
                <i class="el-icon el-icon-delete" @click="delFormItem(index)"></i>
                <!-- /ct-item start -->
                <!-- 单行文本 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'input'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-input :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
                </div>
                <!-- 多行文本 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'textarea'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-input type="textarea" :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
                </div>
                <!-- 下拉框 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'select'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-select :placeholder="f.options.placeholder" :required="f.options.required" value=""></el-select>
                </div>
                <!-- 单选框 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'radio'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-radio-group v-model="f.options.defaultValue" :class="{'inline': f.options.inline}">
                    <el-radio :label="ra.label"
                              v-for="(ra, index) in f.options.options"
                              :key="'radio' + index"
                    >{{ ra.value }}</el-radio>
                  </el-radio-group>
                </div>
                <!-- 多选框 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'checkbox'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-checkbox-group v-model="f.options.defaultValue" :class="{'inline': f.options.inline}">
                    <el-checkbox :label="ra.label"
                                 v-for="(ra, index) in f.options.options"
                                 :key="'radio' + index"
                    >{{ ra.value }}</el-checkbox>
                  </el-checkbox-group>
                </div>
                <!-- 时间选择器 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'time'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-time-picker :placeholder="f.options.placeholder" :required="f.options.required"></el-time-picker>
                </div>
                <!-- 日期选择器 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'date'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-date-picker type="date" :placeholder="f.options.placeholder" :required="f.options.required"></el-date-picker>
                </div>
                <!-- 文字 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'text'">
                  <div class="text" :style="{'font-size': f.options.style.fontSize + 'px', 'color': f.options.style.color}">{{ f.options.defaultValue }}</div>
                </div>
                <!-- 开关 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'switch'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-switch v-model="f.options.defaultValue"></el-switch>
                </div>
                <!-- 评分 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'rate'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-rate v-model="f.options.defaultValue"></el-rate>
                </div>
                <!-- 按钮 -->
                <div class="form-item" v-if="f.type === 'button'">
                  <el-button class="submit" type="primary" round
                             :style="{
                                 'color': f.options.style.color,
                                 'border-color': f.options.style.borderColor,
                                 'background-color': f.options.style.backgroundColor
                             }"
                  >{{ f.options.defaultValue }}</el-button>
                </div>
                <!-- 拨打电话 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'call'">
                  <el-button class="submit" type="primary" round
                             :style="{
                                 'color': f.options.style.color,
                                 'border-color': f.options.style.borderColor,
                                 'background-color': f.options.style.backgroundColor
                             }"
                  >{{ f.options.defaultValue }}</el-button>
                </div>
                <!-- 级联 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'cascader'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-cascader :placeholder="f.options.placeholder"></el-cascader>
                </div>
                <!-- 姓名 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'name'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-input :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
                </div>
                <!-- 手机号 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'phone'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-input :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
                </div>
                <!-- 身份证号 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'card'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-input :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
                </div>
                <!-- 邮箱 -->
                <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'email'">
                  <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
                  <el-input :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
                </div>
                <!-- 计数 -->
                <div class="form-item" v-if="f.type === 'tally'">
                  <p class="info-text">最近 15 人{{ getLabel(tallyData, tally) }}！</p>
                </div>
                <!-- 已报名用户 -->
                <div class="form-item" v-if="f.type === 'signup'">
                  <p class="info-text">用户 189XXXX0716 {{ getLabel(signupData, signup) }}！</p>
                </div>
              </div>
            </transition-group>
          </draggable>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="header">字段属性</div>
      <div class="content word-attr">
        <div v-if="formData.length">
          <!-- 公共 -->
          <div class="form-setting"
               v-if="currData.type &&
                currData.type !== 'text' &&
                currData.type !== 'button' &&
                currData.type !== 'tally' &&
                currData.type !== 'signup' &&
                currData.type !== 'deskjobs' &&
                currData.type !== 'bgcolor' &&
                currData.type !== 'call'
          ">
            <div class="form-setting-item">
              <label class="el-form-item__label">标签名称</label>
              <el-input v-model="currData.name"></el-input>
            </div>
          </div>
          <!-- 单行文本 -->
          <div class="form-setting" v-if="currData.type === 'input'">
            <div class="form-setting-item">
              <label class="el-form-item__label">填充内容</label>
              <el-input v-model="currData.options.placeholder"></el-input>
            </div>
          </div>
          <!-- 多行文本 -->
          <div class="form-setting" v-if="currData.type === 'textarea'">
            <div class="form-setting-item">
              <label class="el-form-item__label">填充内容</label>
              <el-input v-model="currData.options.placeholder"></el-input>
            </div>
          </div>
          <!-- 下拉框 -->
          <div class="form-setting" v-if="currData.type === 'select'">
            <div class="form-setting-item">
              <label class="el-form-item__label">填充内容</label>
              <el-input v-model="currData.options.placeholder"></el-input>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">选项</label>
              <div class="option-box">
                <draggable
                  class="draggable"
                  :list="currData.options.options"
                  handle=".handle"
                  :options="{ chosenClass: 'chosen-form', ghostClass: 'ghost' }"
                  group="option"
                >
                  <transition-group class="transition" tag="div">
                    <div class="option-item"
                         v-for="(opt, index) in currData.options.options"
                         :key="'opt' + index"
                    >
                      <i class="el-icon el-icon-rank handle"></i>
                      <el-input v-model="opt.value"></el-input>
                      <i class="el-icon el-icon-delete" @click="delSelOpt(index)"></i>
                    </div>
                  </transition-group>
                </draggable>
                <el-button type="text" @click="addSelOpt">添加选项</el-button>
              </div>
            </div>
          </div>
          <!-- 单选框 --><!-- 多选框 -->
          <div class="form-setting" v-if="currData.type === 'radio' || currData.type === 'checkbox'">
            <div class="form-setting-item">
              <label class="el-form-item__label">选项</label>
              <div class="option-box">
                <draggable
                  class="draggable"
                  :list="currData.options.options"
                  handle=".handle"
                  :options="{ chosenClass: 'chosen-form', ghostClass: 'ghost' }"
                  group="option"
                >
                  <transition-group class="transition" tag="div">
                    <div class="option-item"
                         v-for="(opt, index) in currData.options.options"
                         :key="'opt' + index"
                    >
                      <i class="el-icon el-icon-rank handle"></i>
                      <el-input v-model="opt.value"></el-input>
                      <i class="el-icon el-icon-delete" @click="delSelOpt(index)"></i>
                    </div>
                  </transition-group>
                </draggable>
                <el-button type="text" @click="addSelOpt">添加选项</el-button>
              </div>
            </div>
          </div>
          <!-- 时间选择器 --><!-- 日期选择器 -->
          <div class="form-setting" v-if="currData.type === 'date' || currData.type === 'time'">
            <div class="form-setting-item">
              <label class="el-form-item__label">填充内容</label>
              <el-input v-model="currData.options.placeholder"></el-input>
            </div>
          </div>
          <!-- 文字 -->
          <div class="form-setting" v-if="currData.type === 'text'">
            <div class="form-setting-item">
              <label class="el-form-item__label">文字内容</label>
              <el-input v-model="currData.options.defaultValue"></el-input>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">字体大小</label>
              <el-input-number v-model="currData.options.style.fontSize" :min="10" :max="60"></el-input-number>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">字体颜色</label>
              <el-color-picker v-model="currData.options.style.color"></el-color-picker>
            </div>
          </div>
          <!-- 开关 -->
          <div class="form-setting" v-if="currData.type === 'switch'">
            <div class="form-setting-item">
              <label class="el-form-item__label">默认值</label>
              <el-switch v-model="currData.options.defaultValue"></el-switch>
            </div>
          </div>
          <!-- 评分 -->
          <div class="form-setting" v-if="currData.type === 'rate'">
            <div class="form-setting-item">
              <label class="el-form-item__label">默认值</label>
              <el-input-number v-model="currData.options.defaultValue" :min="0" :max="5"></el-input-number>
            </div>
          </div>
          <!-- 按钮 -->
          <div class="form-setting" v-if="currData.type === 'button'">
            <div class="form-setting-item">
              <label class="el-form-item__label">按钮文字</label>
              <el-input v-model="currData.options.defaultValue"></el-input>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">表单提交文案</label>
              <el-input v-model="currData.options.submitMsg"></el-input>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">文字颜色</label>
              <el-color-picker v-model="currData.options.style.color"></el-color-picker>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">背景颜色</label>
              <el-color-picker v-model="currData.options.style.backgroundColor"></el-color-picker>
            </div>
          </div>
          <!-- 拨打电话 -->
          <div class="form-setting" v-if="currData.type === 'call'">
            <div class="form-setting-item">
              <label class="el-form-item__label">按钮文字</label>
              <el-input v-model="currData.options.defaultValue"></el-input>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">电话号码</label>
              <el-input ref="phone" v-model="currData.options.phone"></el-input>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">文字颜色</label>
              <el-color-picker v-model="currData.options.style.color"></el-color-picker>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">背景颜色</label>
              <el-color-picker v-model="currData.options.style.backgroundColor"></el-color-picker>
            </div>
          </div>
          <!-- 级联 -->
          <div class="form-setting" v-if="currData.type === 'cascader'">
            <div class="form-setting-item">
              <label class="el-form-item__label">填充内容</label>
              <el-input v-model="currData.options.placeholder"></el-input>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">列数</label>
              <el-input-number v-model="currData.options.defaultValue" :min="2" :max="3"></el-input-number>
            </div>
            <div class="form-setting-item">
              <label class="el-form-item__label">
                选项JSON数据
                <el-popover
                  placement="right"
                  width="400"
                  trigger="click">
                  数据格式如下:
                  <pre>
                [{
                  "name": "中国",
                  "value": "中国",
                  "parent": 0
                }, {
                  "name": "江苏",
                  "value": "江苏",
                  "parent": "中国"
                }, {
                  "name": "广东",
                  "value": "广东",
                  "parent": "中国"
                }]
                  </pre>
                  <i slot="reference" class="el-icon-info"></i>
                </el-popover>
              </label>
              <el-input type="textarea" :rows="5" @blur="isJsonHandle(currData.options.options)" v-model="currData.options.options"></el-input>
            </div>
          </div>
          <!-- 姓名 -->
          <div class="form-setting" v-if="
                                      currData.type === 'name' ||
                                       currData.type === 'phone' ||
                                        currData.type === 'card' ||
                                          currData.type === 'email'">
            <div class="form-setting-item">
              <label class="el-form-item__label">填充内容</label>
              <el-input v-model="currData.options.placeholder"></el-input>
            </div>
          </div>
          <!-- 计数 -->
          <div class="form-setting" v-if="currData.type === 'tally'">
            <div class="form-setting-item">
              <label class="el-form-item__label">显示内容</label>
              <el-select v-model="tally">
                <el-option
                  v-for="(tally, index) in tallyData" :key="'tally' + index"
                  :label="tally.label"
                  :value="tally.value"
                ></el-option>
              </el-select>
            </div>
          </div>
          <!-- 已报名用户 -->
          <div class="form-setting" v-if="currData.type === 'signup'">
            <div class="form-setting-item">
              <label class="el-form-item__label">显示内容</label>
              <el-select v-model="signup">
                <el-option
                  v-for="(sign, index) in signupData" :key="'sign' + index"
                  :label="sign.label"
                  :value="sign.value"
                ></el-option>
              </el-select>
            </div>
          </div>
        </div>
      </div>
      <div class="header">表单属性</div>
      <div class="content form-attr">
        <!-- 表单背景色 -->
        <div class="form-setting">
          <div class="form-setting-item">
            <label class="el-form-item__label">表单背景色</label>
            <el-color-picker v-model="formAttr.backgroundColor"></el-color-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-footer">
      <el-button size="mini" @click="cancel">取 消</el-button>
      <el-button size="mini" type="primary" @click="submit">确 定</el-button>
    </div>
  </div>
</template>

<script>
import FormMake from './FormMake'
export default FormMake
</script>

<style lang="scss" scoped>
@import "FormMake.scss";
</style>
