<template>
  <div
    class="d2-layout-header-aside-group"
    :style="styleLayoutMainGroup"
    :class="{grayMode: grayActive}">
    <!-- 半透明遮罩 -->
    <div class="d2-layout-header-aside-mask"></div>
    <!-- 主体内容 -->
    <div class="d2-layout-header-aside-content" flex="dir:top">
      <!-- 顶栏 -->
      <div
        class="d2-theme-header"
        :style="{
          opacity: this.searchActive ? 0.5 : 1
        }"
        flex-box="0"
        flex>
        <router-link to="/index" class="logo-group" :style="{width: asideCollapse ? asideWidthCollapse : asideWidth}" flex-box="0">
          <img style="margin-top: 1px;height: 56px;" v-if="asideCollapse" :src="`../../../../image/theme/${themeActiveSetting.name}/logo/icon-only.png`">
          <img style="margin-top: 1px;height: 56px;" v-else :src="`../../../../image/theme/${themeActiveSetting.name}/logo/logo@2x.png`">
        </router-link>
        <div class="toggle-aside-btn" @click="handleToggleAside" flex-box="0">
          <d2-icon name="bars"/>
        </div>
        <d2-menu-header flex-box="1"/>
        <!-- 顶栏右侧 -->
        <div class="d2-header-right" flex-box="0">
          <el-button type="primary" size="mini" style="margin-right: 20px" @click="inviteHandle()">邀请注册</el-button>
          <!-- 如果你只想在开发环境显示这个按钮请添加 v-if="$env === 'development'" -->
          <d2-header-fullscreen/>
          <d2-header-user/>
        </div>
      </div>
      <!-- 下面 主体 -->
      <div class="d2-theme-container" flex-box="1" flex>
        <!-- 主体 侧边栏 -->
        <div
          flex-box="0"
          ref="aside"
          class="d2-theme-container-aside"
          :style="{
            width: asideCollapse ? asideWidthCollapse : asideWidth,
            opacity: this.searchActive ? 0.5 : 1
          }">
          <d2-menu-side/>
<!--          <a class="connect-btn" href="tencent://message/?uin=1406600243&Site=&Menu=yes" type="primary">咨询客服</a>-->
          <a class="connect-btn" target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=1406600243&site=qq&menu=yes" type="primary">咨询客服</a>
        </div>
        <!-- 主体 -->
        <div class="d2-theme-container-main" flex-box="1" flex>
          <!-- 搜索 -->
          <transition name="fade-scale">
            <div v-if="searchActive" class="d2-theme-container-main-layer" flex>
              <d2-panel-search
                ref="panelSearch"
                @close="searchPanelClose"/>
            </div>
            <!-- 页脚 -->
            <div class="page-container-footer">江苏兆腾网络科技有限公司 提供技术支持</div>
          </transition>
          <!-- 内容 -->
          <transition name="fade-scale">
            <div v-if="!searchActive" class="d2-theme-container-main-layer" flex="dir:top">
              <!-- tab -->
              <!--<div class="d2-theme-container-main-header" flex-box="0">-->
              <!--  <d2-tabs/>-->
              <!--</div>-->
              <!-- 页面 -->
              <div class="d2-theme-container-main-body" flex-box="1">
                <transition :name="transitionActive ? 'fade-transverse' : ''">
                  <keep-alive :include="keepAlive">
                    <router-view/>
                  </keep-alive>
                </transition>
              </div>
            </div>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import d2MenuSide from './components/menu-side'
import d2MenuHeader from './components/menu-header'
import d2HeaderFullscreen from './components/header-fullscreen'
import d2HeaderUser from './components/header-user'
import { mapState, mapGetters, mapActions } from 'vuex'
import mixinSearch from './mixins/search'
import request from '@/plugin/axios'
import { GetInviteUrl } from '@/api/sys.project'
export default {
  name: 'd2-layout-header-aside',
  mixins: [
    mixinSearch
  ],
  components: {
    d2MenuSide,
    d2MenuHeader,
    d2HeaderFullscreen,
    d2HeaderUser
  },
  data () {
    return {
      // [侧边栏宽度] 正常状态
      asideWidth: '200px',
      // [侧边栏宽度] 折叠状态
      asideWidthCollapse: '65px'
    }
  },
  computed: {
    ...mapState('d2admin', {
      keepAlive: state => state.page.keepAlive,
      grayActive: state => state.gray.active,
      transitionActive: state => state.transition.active,
      asideCollapse: state => state.menu.asideCollapse
    }),
    ...mapGetters('d2admin', {
      themeActiveSetting: 'theme/activeSetting'
    }),
    /**
     * @description 最外层容器的背景图片样式
     */
    styleLayoutMainGroup () {
      return {
        ...this.themeActiveSetting.backgroundImage ? {
          backgroundImage: `url('${this.$baseUrl}${this.themeActiveSetting.backgroundImage}')`
        } : {}
      }
    }
  },
  methods: {
    ...mapActions('d2admin/menu', [
      'asideCollapseToggle'
    ]),
    /**
     * 接收点击切换侧边栏的按钮
     */
    handleToggleAside () {
      this.asideCollapseToggle()
    },
    // 立即邀请
    inviteHandle () {
      request(GetInviteUrl()).then(
        res => {
          if (res.code === 0) {
            let value = '这款H5制作工具挺好用的，支持自定义图片、视频和表单收集等功能，还可以与小程序结合，使用电脑打开链接就可以免费使用：' + res.inviteUrl
            let oInput = document.createElement('input')
            oInput.value = value
            document.body.appendChild(oInput)
            oInput.select() // 选中文本
            document.execCommand('copy') // 执行浏览器复制命令
            this.$message.success('邀请链接已复制，可发送给好友注册，增加自定义版权信息次数。')
            oInput.remove()
          }
        }
      )
    }
  }
}
</script>

<style lang="scss">
// 注册主题
@import '~@/assets/style/theme/register.scss';
  .page-container-footer {
    position: fixed;
    bottom: 0;
    left: 90px;
    width: 100%;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    color: $color-text-normal;
  }
  .connect-btn {
    position: fixed;
    bottom: 10px;
    left: 80px;
    font-size: 12px;
    line-height: 1;
    color: #409EFF;
    z-index: 99;
  }
</style>
