<template>
  <el-dropdown size="small" class="d2-mr">
    <span class="btn-text">{{info.name ? `你好 ${info.name}` : '未登录'}}</span>
    <el-dropdown-menu slot="dropdown">
<!--      <el-dropdown-item @click.native="updatePsw">-->
<!--        <i class="el-icon-edit-outline" style="font-weight: bold;"></i>-->
<!--        修改密码-->
<!--      </el-dropdown-item>-->
      <el-dropdown-item @click.native="logOff">
        <d2-icon name="power-off" class="d2-mr-5"/>
        注销
      </el-dropdown-item>
    </el-dropdown-menu>

    <el-dialog title="修改密码" :visible.sync="dialogVisible" width="400px">
      <el-form :model="form" ref="uptForm" :rules="rules">
        <el-form-item label="旧密码" prop="password">
          <el-input v-model="form.password" size="medium" type="password" placeholder="请输入" clearable autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="newPassword">
          <el-input v-model="form.newPassword" size="medium" type="password" placeholder="请输入" clearable autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="mini" @click="cancelUpdate">取 消</el-button>
        <el-button size="mini" type="primary" @click="submitUpdate">确 定</el-button>
      </div>
    </el-dialog>
  </el-dropdown>
</template>

<script>
import { mapActions } from 'vuex'
import request from '@/plugin/axios'
import { GetUserInfo } from '@/api/sys.project'
export default {
  data () {
    return {
      dialogVisible: false,
      form: {
        password: '',
        newPassword: ''
      },
      info: {
        name: null
      },
      rules: {
        password: [
          { required: true, message: '请输入旧密码', trigger: 'blur' }
        ],
        newPassword: [
          { required: true, message: '请输入新密码', trigger: 'blur' }
        ]
      }
    }
  },
  mounted () {
    this.getUserInfo()
  },
  methods: {
    ...mapActions('d2admin/account', [
      'logout',
      'uptPsw'
    ]),
    // 获取用户信息
    getUserInfo () {
      request(GetUserInfo()).then(
        res => {
          if (res.code === 0) {
            this.info.name = res.userInfo.wxNickname
          }
        })
    },
    /**
     * @description 登出
     */
    logOff () {
      this.logout({
        confirm: true
      })
    },
    /**
     * @description 修改密码
     */
    updatePsw () {
      this.dialogVisible = true
    },
    // 确认修改
    submitUpdate () {
      this.$refs.uptForm.validate((valid) => {
        if (valid) {
          this.uptPsw({
            password: this.form.password,
            newPassword: this.form.newPassword
          }).then(
            res => {
              if (res.code === 0) {
                this.$message.success('修改成功，请重新登录')
                this.dialogVisible = false
                this.$router.push({
                  path: '/login'
                })
              }
            }
          )
        }
      })
    },
    // 取消修改
    cancelUpdate () {
      this.$refs.uptForm.resetFields()
      this.dialogVisible = false
    }
  }
}
</script>
