<template>
  <d2-container class="page">
    <el-button type="primary" size="small" @click="openDialogHandle">新增项目</el-button>
    <el-table :data="tableData.list" height="780" border stripe loading size="medium" style="width: 100%">
      <el-table-column type="index" label="序号" align="center" width="60">
      </el-table-column>
      <el-table-column prop="id" label="项目ID" align="center" width="170">
      </el-table-column>
      <el-table-column prop="name" label="项目名称" align="center">
      </el-table-column>
      <el-table-column prop="isEnable" label="状态" align="center" width="80">
        <template slot-scope="scope">
          <el-switch v-model="scope.row.isEnable" @change="changeState(scope.row.id)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column prop="" label="宣传形式" align="center" width="280">
        <template slot-scope="scope">
          <el-link
            @click="copyUrl(scope.row.id)"
            :disabled="!scope.row.isEnable"
            :type="scope.row.isEnable ? 'primary' : 'info'">复制链接</el-link>
          <input type="text"
                 :ref="'url_' + scope.row.id"
                 :value="scope.row.url"
                 style="position: absolute;top: -1000px;opacity: 0;">
          <el-link
            @click="downloadSunHandle(scope.row.id)"
            :disabled="!scope.row.isEnable"
            :type="scope.row.isEnable ? 'primary' : 'info'">下载太阳码</el-link>
          <el-link
            @click="downloadQrHandle(scope.row.id)"
            :disabled="!scope.row.isEnable"
            :type="scope.row.isEnable ? 'primary' : 'info'">下载二维码</el-link>
        </template>
      </el-table-column>
      <el-table-column prop="isReport" label="页面内容" align="center" width="80">
        <template slot-scope="scope">
          <el-link type="info" v-if="scope.row.isReport === '0'">空页面</el-link>
          <el-popover
            v-else
            :disabled="!scope.row.isEnable"
            placement="bottom"
            width="220"
            @show="showQrCode(scope.row)"
            trigger="click">
            <div class="popover-content">
              <div class="qr-code" style="width: 220px;height: 220px;border: 1px solid #ddd;padding: 5px;box-sizing: border-box;">
                <img :src="preCode" style="width: 100%;height: 100%;" />
              </div>
              <div class="tips" style="text-align: center;color: red;font-size: 12px;margin-top: 10px;">该二维码仅供预览，请勿投放</div>
            </div>
            <el-link slot="reference"
                     :disabled="!scope.row.isEnable"
                     :type="scope.row.isEnable ? 'primary' : 'info'">预览</el-link>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="" label="数据分析" align="center" width="80">
        <template slot-scope="scope">
          <el-link type="primary" @click="checkAnalysis(scope.row.id, scope.row.isReport)">查看</el-link>
        </template>
      </el-table-column>
      <el-table-column prop="" label="表单数据" align="center" width="80">
        <template slot-scope="scope">
          <el-link
            :disabled="!scope.row.existForm"
            :type="scope.row.existForm ? 'primary' : 'info'"
            @click="downloadFormHandle(scope.row.id, scope.row.name)">下载</el-link>
        </template>
      </el-table-column>
      <el-table-column prop="createDate" label="添加时间" align="center" sortable width="160">
      </el-table-column>
      <el-table-column prop="" label="操作" align="center" width="300">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="updateHandle(scope.row.id)">配置</el-button>
          <el-button type="primary" size="mini" @click="shareHandle(scope.row.id)">分享设置</el-button>
          <el-button type="primary" size="mini" @click="editHandle(scope.row)">编辑</el-button>
          <el-button type="danger" size="mini" @click="delHandle(scope.row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @current-change="handleCurrentChange"
      :current-page.sync="tableData.currPage"
      :page-size="tableData.pageSize"
      :total="tableData.totalCount"
      layout="total, prev, pager, next, jumper">
    </el-pagination>

    <!--  新增项目  -->
    <el-dialog title="新增项目" :close-on-click-modal="false" :visible.sync="dialogVisible" width="660px">
      <el-form :model="addForm" :rules="rules" ref="addForm">
        <el-form-item label="项目名称" prop="name" :label-width="labelWidth">
          <el-input v-model="addForm.name" size="small" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="小程序AppID" prop="appId" :label-width="labelWidth">
          <el-input v-model="addForm.appId" size="small" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="小程序AppSecret" prop="appSecret" :label-width="labelWidth">
          <el-input v-model="addForm.appSecret" size="small" autocomplete="off" clearable></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="small" @click="cancelAddHandle">取 消</el-button>
        <el-button type="primary" size="small" @click="addProHandle">确 定</el-button>
      </div>
    </el-dialog>

    <!--  编辑项目  -->
    <el-dialog title="编辑项目" :close-on-click-modal="false" :visible.sync="editVisible" width="660px">
      <el-form :model="editForm" :rules="rules" ref="editForm">
        <el-form-item label="项目名称" prop="name" :label-width="labelWidth">
          <el-input v-model="editForm.name" size="small" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="小程序AppID" prop="appId" :label-width="labelWidth">
          <el-input v-model="editForm.appId" size="small" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="小程序AppSecret" prop="appSecret" :label-width="labelWidth">
          <el-input v-model="editForm.appSecret" size="small" autocomplete="off" clearable></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="small" @click="cancelEditHandle">取 消</el-button>
        <el-button type="primary" size="small" @click="editProHandle">确 定</el-button>
      </div>
    </el-dialog>

    <!--  分享设置  -->
    <el-dialog title="分享设置" :close-on-click-modal="false" :visible.sync="shareVisible" width="660px">
      <el-form :model="shareForm" :rules="shareRules" ref="shareForm" class="share-form">
        <el-form-item label="分享标题" prop="title" :label-width="labelWidth2">
          <el-input v-model="shareForm.title" size="small" placeholder="请输入小程序/H5的分享标题" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="分享摘要" prop="summary" :label-width="labelWidth2">
          <el-input type="textarea" v-model="shareForm.summary" placeholder="请输入H5的分享摘要" maxlength="120" size="small" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="分享图片" prop="picture" :label-width="labelWidth2">
          <!-- 上传图片 -->
          <div class="upload" :class="hasPic ? 'error' : ''">
            <div class="upload-text" v-if="shareForm.picture === '' || shareForm.picture === null">
              <i class="el-icon-upload"></i>
              <p>上传H5分享缩略图</p>
              <p>建议200*200像素，不超过200kb</p>
            </div>
            <img v-else class="pre-pic" :src="shareForm.picture" alt="">
            <input class="upload-input" id="photo" accept="image/*" type="file" title="" @change="uploadHandle($event)">
          </div>
          <el-input type="textarea" style="display: none;" v-model="shareForm.picture" size="small" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="版权信息" :label-width="labelWidth2" class="version">
          <el-input v-model="vInfo" size="small"
                    :disabled="isDisabledVersion"
                    placeholder="请输入版权信息"
                    style="width: 300px"
                    autocomplete="off" clearable></el-input>
          <el-link type="primary" @click="openVersion" style="line-height: 1;font-weight: normal;margin-left: 20px">自定义</el-link>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="small" @click="cancelShareHandle">取 消</el-button>
        <el-button type="primary" size="small" @click="addShareHandle">确 定</el-button>
      </div>
    </el-dialog>

    <!-- 版权设置弹出层 -->
    <el-dialog title="设置版权" :close-on-click-modal="false" :visible.sync="versionVisible" v-if="versionVisible" width="500px" style="margin-top: 12vh">
      <div style="text-align: center">
        <p>自定义次数还剩{{versionCount}}次</p>
        <br>
        <p>每邀请1位用户注册增加1次，<el-link type="primary" @click="inviteHandle">立即邀请</el-link></p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button :type="versionCount === 0 ? 'info' : 'primary'" size="small" :disabled="versionCount === 0" @click="submitSetVersion">确认使用</el-button>
      </span>
    </el-dialog>

    <!-- 数据分析弹出层 -->
    <el-dialog title="数据分析" :close-on-click-modal="false" :visible.sync="dataVisible" v-if="dataVisible" width="900px">
      <data-analysis :id="proId"></data-analysis>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" size="small" @click="dataVisible = false">确 定</el-button>
      </span>
    </el-dialog>

    <!-- 子路由 -->
    <router-view></router-view>
  </d2-container>
</template>

<script>
import lrz from '../../../../static/lrz/dist/lrz.all.bundle'
import { mapActions } from 'vuex'
import DataAnalysis from './data-analysis'
import { DownloadFormData, GetInviteUrl } from '@/api/sys.project'
import request from '@/plugin/axios'
export default {
  data () {
    return {
      params: {
        page: 1,
        limit: 20,
        t: new Date().getTime()
      },
      currentPage: 1,
      tableData: {},
      dialogVisible: false,
      dataVisible: false,
      shareVisible: false,
      editVisible: false,
      versionVisible: false,
      proId: '',
      labelWidth: '150px',
      labelWidth2: '80px',
      rules: {
        name: [
          { required: true, message: '请输入项目名称', trigger: 'blur' },
          { min: 1, max: 64, message: '长度在 1 到 64 个字符', trigger: 'blur' }
        ]
      },
      shareRules: {
        title: [
          { required: true, message: '请输入分享标题', trigger: 'blur' },
          { min: 1, max: 64, message: '长度在 1 到 64 个字符', trigger: 'blur' }
        ],
        summary: [
          { required: true, message: '请输入分享摘要', trigger: 'blur' },
          { min: 1, max: 120, message: '长度在 1 到 120 个字符', trigger: 'blur' }
        ],
        picture: [
          { required: true, message: '请上传分享图片', trigger: 'blur' }
        ]
      },
      addForm: {
        name: '',
        appId: '',
        appSecret: ''
      },
      editForm: {
        name: '',
        appId: '',
        appSecret: ''
      },
      shareForm: {
        title: '',
        summary: '',
        picture: ''
      },
      vState: true,
      vInfo: '兆腾科技',
      isDisabledVersion: true,
      versionCount: 0,
      hasPic: false,
      preCode: ''
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.queryProjectList()
    })
  },
  beforeRouteUpdate (to, from, next) {
    if (from.name === 'update') {
      this.queryProjectList()
    }
    next()
  },
  components: {
    DataAnalysis
  },
  methods: {
    ...mapActions('d2admin/project', [
      'queryProject',
      'addProject',
      'uptProState',
      'downloadSun',
      'downloadQr',
      'infoShare',
      'saveShare',
      'downloadForm',
      'delProject',
      'editProject',
      'getCountVersion'
    ]),
    // 查询项目列表
    queryProjectList () {
      this.queryProject({
        page: this.params.page,
        limit: this.params.limit,
        t: this.params.t
      }).then(res => {
        if (res.code === 0) {
          res.page.list.forEach(data => {
            if (data.isEnable === '0') {
              data.isEnable = true
            } else {
              data.isEnable = false
            }
          })
          this.tableData = res.page
        }
      })
    },
    // 打开新增弹出层
    openDialogHandle () {
      this.addForm = {
        name: '',
        appId: '',
        appSecret: ''
      }
      this.dialogVisible = true
    },
    // 新增项目回调
    addProHandle () {
      this.$refs.addForm.validate((valid) => {
        if (valid) {
          this.addProject({
            name: this.addForm.name,
            appId: this.addForm.appId,
            appSecret: this.addForm.appSecret
          }).then(res => {
            if (res.code === 0) {
              this.$message.success('新增成功')
              this.dialogVisible = false
              this.queryProjectList()

              this.$router.push({
                path: '/index/update',
                query: {
                  id: res.projectId
                }
              })
            }
          })
        }
      })
    },
    // 取消项目新增
    cancelAddHandle () {
      this.dialogVisible = false
      this.$refs.addForm.resetFields()
    },
    // 打开编辑项目
    editHandle (data) {
      this.proId = data.id
      this.editForm = {
        name: data.name,
        appId: data.appId,
        appSecret: data.appSecret
      }
      this.editVisible = true
    },
    // 编辑项目回调
    editProHandle () {
      this.$refs.editForm.validate((valid) => {
        if (valid) {
          this.editProject({
            id: this.proId,
            name: this.editForm.name,
            appId: this.editForm.appId,
            appSecret: this.editForm.appSecret
          }).then(res => {
            if (res.code === 0) {
              this.$message.success('编辑成功')
              this.editVisible = false
              this.queryProjectList()
            }
          })
        }
      })
    },
    // 取消项目编辑
    cancelEditHandle () {
      this.editVisible = false
      this.$refs.editForm.resetFields()
    },
    // 修改状态
    changeState (id) {
      this.uptProState({
        id: id
      }).then(res => {
        if (res.code === 0) {
          this.$message.success('状态修改成功')
          this.queryProjectList()
        }
      })
    },
    // 编辑
    updateHandle (id) {
      this.$router.push({
        path: '/index/update',
        query: {
          id: id
        }
      })
    },
    // 删除项目
    delHandle (id) {
      this.$confirm('您确定删除该项目吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.delProject({
          id: id
        }).then(res => {
          if (res.code === 0) {
            this.$message.success('删除成功')
            this.queryProjectList()
          }
        })
      })
    },
    // 打开分享设置
    shareHandle (id) {
      this.proId = id
      this.shareForm = {
        title: '',
        summary: '',
        picture: ''
      }
      this.shareVisible = true
      // this.isDisabledVersion = true
      this.infoShare({
        id: id
      }).then(
        res => {
          if (res.code === 0) {
            let pic = ''
            if (res.data.sharePicture) {
              pic = 'data:image/jpg;base64,' + res.data.sharePicture
            }
            this.vInfo = res.data.versionInfo || '兆腾科技'
            this.isDisabledVersion = !res.data.modifyVersion
            this.shareForm = {
              title: res.data.shareTitle,
              summary: res.data.shareSummary,
              picture: pic
            }
          }
        }
      )
    },
    // 新增分享设置
    addShareHandle () {
      this.$refs.shareForm.validate((valid, obj) => {
        if (valid) {
          if (this.vInfo === '' || this.vInfo === null) {
            this.$message.error('请填写版权信息')
            return false
          }
          this.hasPic = false
          this.saveShare({
            id: this.proId,
            shareTitle: this.shareForm.title,
            shareSummary: this.shareForm.summary,
            sharePicture: this.shareForm.picture.split(',')[1],
            versionState: this.vState ? '1' : '0',
            versionInfo: this.vState ? this.vInfo : ''
          }).then(
            res => {
              if (res.code === 0) {
                this.$message.success('设置成功')
                this.shareVisible = false
                this.queryProjectList()
              }
            }
          )
        } else {
          if (obj.picture && obj.picture.length) {
            this.hasPic = true
          }
          // this.$message.error('表单校验失败，请检查')
        }
      })
    },
    // 取消分享设置
    cancelShareHandle () {
      this.shareVisible = false
      this.isDisabledVersion = true
      this.$refs.shareForm.resetFields()
      this.hasPic = false
    },
    // 上传分享图片
    uploadHandle (e) {
      lrz(e.target.files[0], {
        width: 200,
        height: 200
      }).then(
        (rst) => {
          let size = rst.origin.size / 1024
          if (size > 200) {
            this.$message.warning('图片大小不能超过200kb')
            return false
          }
          let img = new Image()
          img.src = rst.base64
          img.onload = () => {
            this.shareForm.picture = rst.base64
          }
        }
      ).catch(
        (err) => {
          // 失败时执行
          console.log(err)
          this.$message.warning('上传失败，请重新上传')
        }
      ).always(
        () => {
          e.target.value = null
        }
      )
    },
    // 打开数据分析
    checkAnalysis (id, isReport) {
      if (isReport === '0') {
        this.$message.warning('项目还未发布，不可以使用数据分析功能')
      } else {
        this.proId = id
        this.dataVisible = true
      }
    },
    // 打开设置版权弹窗
    openVersion () {
      this.getCountVersion({}).then(res => {
        if (res.code === 0) {
          this.versionVisible = true
          this.versionCount = res.modiflyCount
        }
      })
    },
    // 确实使用自定义版权信息
    submitSetVersion () {
      this.versionVisible = false
      if (this.isDisabledVersion) {
        if (this.versionCount > 0) {
          this.versionCount--
          this.isDisabledVersion = false
        }
      }
    },
    // 切换页面
    handleCurrentChange (val) {
      this.params.page = val
      this.queryProjectList()
    },
    // 立即邀请
    inviteHandle () {
      request(GetInviteUrl()).then(
        res => {
          if (res.code === 0) {
            let value = '这款H5制作工具挺好用的，支持自定义图片、视频和表单收集等功能，还可以与小程序结合，使用电脑打开链接就可以免费使用：' + res.inviteUrl
            let oInput = document.createElement('input')
            oInput.value = value
            document.body.appendChild(oInput)
            oInput.select() // 选中文本
            document.execCommand('copy') // 执行浏览器复制命令
            this.$message.success('邀请链接已复制，可发送给好友注册，增加自定义版权信息次数。')
            oInput.remove()
          }
        }
      )
    },
    // 复制链接
    copyUrl (id) {
      let input = this.$refs[`url_${id}`]
      if (input.value.length) {
        input.select() // 选中文本
        document.execCommand('copy') // 执行浏览器复制命令
        this.$message.success('复制成功')
      } else {
        this.$message.warning('空页面，无法复制')
      }
    },
    // 下载太阳码
    downloadSunHandle (id) {
      this.downloadSun({
        id: id
      }).then(
        res => {
          if (res.code === 0) {
            let data = res.data
            const fileName = data.fileName
            this.savePic(fileName, data.fileContent)
          }
        }
      )
    },
    // 下载二维码
    downloadQrHandle (id) {
      this.downloadQr({
        id: id
      }).then(
        res => {
          if (res.code === 0) {
            let data = res.data
            const fileName = data.fileName
            this.savePic(fileName, data.fileContent)
          }
        }
      )
    },
    // 显示预览页面二维码
    showQrCode (data) {
      this.downloadQr({
        id: data.id
      }).then(
        res => {
          if (res.code === 0) {
            let data = res.data
            this.preCode = `data:img/png;base64,${data.fileContent}`
          }
        }
      )
    },
    // 下载图片
    savePic (name, base64) {
      const elink = document.createElement('a')
      elink.download = name
      elink.style.display = 'none'
      elink.href = `data:img/png;base64,${base64}`
      document.body.appendChild(elink)
      elink.click()
      URL.revokeObjectURL(elink.href) // 释放URL 对象
      document.body.removeChild(elink)
    },
    // 下载表单
    downloadFormHandle (id, name) {
      let fileHref = process.env.VUE_APP_API + DownloadFormData + id
      const elink = document.createElement('a')
      elink.download = name + '表单数据.xls'
      elink.style.display = 'none'
      elink.href = fileHref
      document.body.appendChild(elink)
      elink.click()
      document.body.removeChild(elink)
    }
  }
}
</script>

<style lang="scss">
.page {
  .el-button {
    margin-bottom: 10px;
  }
  .el-table {
    .el-link {
      margin: 0 8px;
      font-weight: normal;
    }
    .el-button {
      margin-bottom: 2px;
    }
  }
  .el-pagination {
    margin-top: 10px;
    text-align: center;
  }
  .share-form {
    .upload {
      width: 200px;
      height: 200px;
      border-radius: 4px;
      border: 1px dashed #DCDFE6;
      transition: border-color .2s cubic-bezier(.645,.045,.355,1);
      overflow: hidden;
      position: relative;
      &:hover {
        border-color: rgb(192, 196, 204);
      }
      &.error {
        border-color: #F56C6C;
      }
      .upload-text {
        padding-top: 30px;
        font-size: 67px;
        color: #c0c4cc;
        text-align: center;
        p {
          margin: 0;
          color: #c0c4cc;
          font-size: 12px;
          line-height: 1.5;
        }
      }
      .pre-pic {
        width: 100%;
        height: 100%;
      }
      .upload-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .version {
      .el-form-item__label {
        &::before {
          content: '*';
          color: #F56C6C;
          margin-right: 4px;
        }
      }
    }
  }
}
</style>
