<template>
  <el-tooltip class="item" effect="light" placement="right" :disabled="disabled">
    <div class="comp-box">
      <!-- 图片组件 -->
      <div class="pic-box"
           :class="component.isAdd ? 'new' : ''"
           v-if="component.type === 'image'"
      >
        <div class="upload" v-if="component.isAdd">
          <i class="el-icon el-icon-picture-outline"></i>
          <el-button plain>
            <input class="upload-input" id="photo" title="" accept="image/*" type="file" @change="uploadHandle($event)">
            上传图片
          </el-button>
        </div>
        <img v-else class="pic" :src="component.url" />
      </div>
      <!-- 视频组件 -->
      <div class="pic-box"
           :class="component.isAdd ? 'new' : ''"
           v-if="component.type === 'video'"
      >
        <upload-video v-if="component.isAdd" @upload="uploadVideo"></upload-video>
        <video v-if="!component.isAdd" preload autoplay loop controls :src="component.url" class="video"></video>
      </div>
      <!-- 表单组件 -->
      <div class="pic-box"
           :class="component.isAdd ? 'new' : ''"
           v-if="component.type === 'form'"
           style="font-size: 12px"
      >
        <div class="upload" v-if="component.isAdd">
          <i class="el-icon el-icon-tickets"></i>
          <el-button plain @click="editDialog">
            编辑表单
          </el-button>
        </div>
        <div class="show-form" :style="{backgroundColor: formAttr.backgroundColor}" v-else>
          <div class="show-item"
              v-for="(f, index) in component.data"
              :key="'form' + index">
            <!-- 单行文本 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'input'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-input :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
            </div>
            <!-- 多行文本 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'textarea'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-input type="textarea" :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
            </div>
            <!-- 下拉框 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'select'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-select :placeholder="f.options.placeholder" :required="f.options.required" value=""></el-select>
            </div>
            <!-- 单选框 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'radio'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-radio-group v-model="f.options.defaultValue" :class="{'inline': f.options.inline}">
                <el-radio :label="ra.label"
                          v-for="(ra, index) in f.options.options"
                          :key="'radio' + index"
                >{{ ra.value }}</el-radio>
              </el-radio-group>
            </div>
            <!-- 多选框 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'checkbox'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-checkbox-group v-model="f.options.defaultValue" :class="{'inline': f.options.inline}">
                <el-checkbox :label="ra.label"
                             v-for="(ra, index) in f.options.options"
                             :key="'radio' + index"
                >{{ ra.value }}</el-checkbox>
              </el-checkbox-group>
            </div>
            <!-- 时间选择器 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'time'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-time-picker :placeholder="f.options.placeholder" :required="f.options.required"></el-time-picker>
            </div>
            <!-- 日期选择器 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'date'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-date-picker type="date" :placeholder="f.options.placeholder" :required="f.options.required"></el-date-picker>
            </div>
            <!-- 文字 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'text'">
              <div class="text" :style="{'font-size': f.options.style.fontSize + 'px', 'color': f.options.style.color}">{{ f.options.defaultValue }}</div>
            </div>
            <!-- 开关 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'switch'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-switch v-model="f.options.defaultValue"></el-switch>
            </div>
            <!-- 评分 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'rate'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-rate v-model="f.options.defaultValue"></el-rate>
            </div>
            <!-- 按钮 -->
            <div class="form-item" v-if="f.type === 'button'">
              <el-button class="submit" type="primary" round
                         :style="{
                                 'color': f.options.style.color,
                                 'border-color': f.options.style.borderColor,
                                 'background-color': f.options.style.backgroundColor
                             }"
              >{{ f.options.defaultValue }}</el-button>
            </div>
            <!-- 拨打电话 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'call'">
              <el-button class="submit" type="primary" round
                         :style="{
                                 'color': f.options.style.color,
                                 'border-color': f.options.style.borderColor,
                                 'background-color': f.options.style.backgroundColor
                             }"
              >{{ f.options.defaultValue }}</el-button>
            </div>
            <!-- 级联 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'cascader'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-cascader :placeholder="f.options.placeholder"></el-cascader>
            </div>
            <!-- 姓名 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'name'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-input :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
            </div>
            <!-- 手机号 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'phone'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-input :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
            </div>
            <!-- 身份证号 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'card'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-input :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
            </div>
            <!-- 邮箱 -->
            <div class="form-item" :class="{'flex-column': f.options.inline}" v-if="f.type === 'email'">
              <label class="el-form-item__label" :style="{'width': f.options.labelWidth + 'px'}" v-show="f.options.showLabel">{{ f.name }}</label>
              <el-input :placeholder="f.options.placeholder" :required="f.options.required"></el-input>
            </div>
            <!-- 计数 -->
            <div class="form-item" v-if="f.type === 'tally'">
              <p class="info-text">最近 15 人{{ getLabel(tallyData, tally) }}！</p>
            </div>
            <!-- 已报名用户 -->
            <div class="form-item" v-if="f.type === 'signup'">
              <p class="info-text">用户 189XXXX0716 {{ getLabel(signupData, signup) }}！</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  组件控制  -->
    <ul slot="content" style="list-style: none;margin: 0;padding: 0;">
      <el-tooltip v-if="component.isAdd" class="item" effect="dark" content="取消上传" placement="right">
        <li class="ctr-item" @click="cancelUpload">
          <i class="el-icon-circle-close" style="font-size: 18px;line-height: 30px;"></i>
        </li>
      </el-tooltip>
      <el-tooltip v-if="!component.isAdd" class="item" effect="dark"
                               :content="component.type === 'image' ?
                                '替换图片' : component.type === 'video' ?
                                '替换视频' : component.type === 'form' ?
                                '编辑表单' : '替换'"
                               placement="right">
        <li class="ctr-item" v-if="component.type !== 'form'" @click="replacePic(component.type)">
          <img src="../../images/icon_tihuan-pic.png" />
        </li>
        <li class="ctr-item" v-if="component.type === 'form'" @click="editDialog(component)">
          <img src="../../images/icon_tihuan.png" />
        </li>
      </el-tooltip>
      <el-tooltip v-if="!component.isAdd && component.type === 'image'" class="item" effect="dark" content="图片热区" placement="right">
        <li class="ctr-item" @click="hotArea">
          <img src="../../images/icon_requ.png" />
        </li>
      </el-tooltip>
      <el-tooltip v-if="!component.isAdd" class="item" effect="dark" content="删除组件" placement="right">
        <li class="ctr-item" @click="removePic">
          <img src="../../images/icon_shanchu.png" />
        </li>
      </el-tooltip>
    </ul>
  </el-tooltip>
</template>

<script>
import lrz from '../../../../../../static/lrz/dist/lrz.all.bundle'
export default {
  data () {
    return {
      timer: null,
      tallyData: [
        { value: '5', label: '提交成功' },
        { value: '4', label: '报名成功' },
        { value: '3', label: '领取优惠' },
        { value: '2', label: '参与活动' },
        { value: '1', label: '预约成功' }
      ],
      signupData: [
        { value: '5', label: '已提交' },
        { value: '4', label: '已报名' },
        { value: '3', label: '已领取' },
        { value: '2', label: '已参加' },
        { value: '1', label: '已预约' }
      ]
    }
  },
  props: {
    component: {
      type: Object,
      default: () => {
        return {}
      }
    },
    index: {
      type: Number,
      default: 0
    },
    disabled: {
      type: Boolean,
      default: false
    },
    formAttr: {
      type: Object,
      default: () => {
        return { backgroundColor: '#FFFFFF', submitMsg: '提交成功' }
      }
    },
    tally: {
      type: String,
      default: '5'
    },
    signup: {
      type: String,
      default: '5'
    }
  },
  mounted () {
    clearInterval(this.timer)
    this.timer = null
  },
  methods: {
    // 上传图片
    uploadHandle (e) {
      let size = e.target.files[0].size / 1024
      lrz(e.target.files[0], {
        width: 1280,
        quality: size > 1024 ? 0.8 : 1
      }).then(
        (rst) => {
          this.$emit('upload', rst, 'image', this.index)
        }
      ).catch(
        (err) => {
          console.log(err)
          this.$message.warning('上传失败，请重新上传')
        }
      ).always(
        () => {
          e.target.value = null
        }
      )
    },
    // 上传视频
    uploadVideo (url) {
      this.$emit('upload', url, 'video', this.index)
    },
    // 根据值获取label
    getLabel (data, val) {
      let obj = {}
      obj = data.find(item => {
        return item.value === val
      })
      return obj.label
    },
    // 打开编辑框
    editDialog (component) {
      this.editVisible = true
      this.$emit('editDialog', component, this.formAttr, this.index)
    },
    // 取消上传
    cancelUpload () {
      this.$emit('unUpload', this.index)
    },
    // 替换
    replacePic (type) {
      this.$emit('replace', this.component, type, this.index)
    },
    // 图片热区
    hotArea () {
      this.$emit('hot', this.component, this.index)
    },
    // 删除
    removePic () {
      this.$confirm('您确定删除该组件？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(
        () => {
          this.$emit('remove', this.component)
        }
      ).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .comp-box {
    width: 100%;
    .pic-box {
      width: 100%;
      font-size: 0;
      text-align: center;
      position: relative;
      &.new {
        &:hover {
          box-shadow: inset 0 0 1px 1px #409EFF;
        }
      }
      .pic {
        width: 100%;
      }
      .upload {
        padding-top: 10%;
        width: 100%;
        height: 200px;
        text-align: center;
        box-sizing: border-box;
        .el-icon {
          display: block;
          font-size: 50px;
          color: #666;
        }
        .el-button {
          position: relative;
          top: 10px;
          overflow: hidden;
          .upload-input {
            position: absolute;
            left: -1px;
            top: -1px;
            right: -1px;
            bottom: -1px;
            opacity: 0;
          }
        }
      }
      .video {
        width: 100%;
      }
      .show-form {
        font-size: 14px;
        position: relative;
        .show-item {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: block;
            z-index: 1001;
          }
          .form-item {
            display: flex;
            flex-direction: row;
            padding: 10px;
            &.flex-column {
              flex-direction: column;
              .el-form-item__label {
                width: auto!important;
              }
            }
            .el-form-item__label {
              text-align: left;
            }
            .el-input, .el-select, .el-cascader {
              width: 100%;
              height: 40px;
            }
            .text {
              padding: 0 10px;
              line-height: 1.2;
            }
            .info-text {
              margin: 0;
              width: 100%;
              text-align: center;
              font-size: 12px;
            }
            .el-radio-group {
              .el-radio {
                display: block;
                line-height: 30px;
                text-align: left;
                &:first-child {
                  margin-top: 5px;
                }
              }
              &.inline {
                .el-radio {
                  display: inline-block;
                }
              }
            }
            .el-checkbox-group {
              .el-checkbox {
                display: block;
                line-height: 30px;
                text-align: left;
                &:first-child {
                  margin-top: 5px;
                }
              }
              &.inline {
                .el-checkbox {
                  display: inline-block;
                }
              }
            }
            .el-switch,
            .el-rate {
              padding-top: 10px;
            }
            .submit {
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }
  }
</style>
