<template>
  <div class="data-analysis">
    <div class="top">
      <el-date-picker
        v-model="dates"
        type="daterange"
        align="right"
        size="small"
        value-format="yyyy-MM-dd"
        unlink-panels
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>
      <el-button size="small" type="primary" @click="searchHandle">查询</el-button>
      <el-link type="primary" href="https://mta.qq.com/" target="_blank">查看更多</el-link>
    </div>
    <div class="bottom">
      <el-table :data="tableData.slice((currPage - 1) * pageSize, currPage * pageSize)" height="460" border stripe loading size="small" style="width: 100%">
        <el-table-column prop="date" label="时间" align="center">
        </el-table-column>
        <el-table-column prop="pv" label="浏览量(PV)" align="center">
        </el-table-column>
        <el-table-column prop="uv" label="独立用户(UV)" align="center">
        </el-table-column>
        <el-table-column prop="vv" label="访问次数(VV)" align="center">
        </el-table-column>
        <el-table-column prop="iv" label="独立IP" align="center">
        </el-table-column>
<!--        <el-table-column prop="duration" label="平均在线时长" align="center">-->
<!--        </el-table-column>-->
      </el-table>
      <el-pagination
        small
        @current-change="handleCurrentChange"
        :current-page.sync="currPage"
        :page-size="pageSize"
        :total="tableData.length"
        layout="total, prev, pager, next, jumper">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'page',
  data () {
    return {
      dates: '',
      formData: {
        startTime: '',
        endTime: '',
        limit: 15,
        page: 1
      },
      currPage: 1,
      pageSize: 15,
      tableData: []
    }
  },
  props: {
    id: {
      type: String,
      default: ''
    }
  },
  mounted () {
    const end = new Date()
    const start = new Date()
    start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
    this.dates = [start.Format('yyyy-MM-dd'), end.Format('yyyy-MM-dd')]
    this.queryList()
  },
  methods: {
    ...mapActions('d2admin/project', [
      'dataAnalysis'
    ]),
    queryList () {
      this.formData.startTime = this.dates[0]
      this.formData.endTime = this.dates[1]
      this.dataAnalysis({
        id: this.id,
        startDate: this.formData.startTime,
        endDate: this.formData.endTime
      }).then(
        res => {
          if (res.code === 0) {
            this.tableData = res.data
          }
        }
      )
    },
    searchHandle () {
      this.currPage = 1
      this.queryList()
    },
    handleCurrentChange (val) {
      this.currPage = val
    }
  }
}
</script>

<style lang="scss" scoped>
  .data-analysis {
    .top {
      height: 45px;
      .el-button {
        margin-left: 20px;
      }
      .el-link {
        margin-top: 10px;
        float: right;
      }
    }
    .bottom {
      .el-pagination {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
</style>
